body, html {
    height: 100%;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f4f4f4;
}

.header {
    font-size: 32px;
    text-align: center;
    color: #30d5c8;
    padding: 20px 0;
    font-weight: bold;
}

.container {
    width: 80%;
    max-width: 1200px; /* 테이블 너비 조정을 위해 증가 */
    margin: 20px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

table caption {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;

}

table, .table th, .table td {
    border: 1px solid #ccc;
}

table th, .table td {
    text-align: left;
    padding: 8px;
}

table th {
    background-color: #30d5c8;
    color: white;
}

table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.Row {
    height: 100px;
}

.columns {
    height: 50px;
}


td {
    height: 30px;
}


textarea {
    height: 100%;
    width: 100%;
    border: none;
}

.trustee-input {
    width: 99%;
    height: 100%;
}

.purpose {
    width: 25%;
}

.items {
    width: 20%;
}

.period {
    width: 15%;
}

.reason {
    width: 25%
}

.faded-text {
    opacity: 0.5;
}

.item2 {
    width: 20%;
}

.information {
    width: 30%;
}

.trustee {
    width: 50%;
}

.recipient {
    width: 20%;
}

div > pre {
    white-space: pre-wrap; /* 공백과 줄바꿈을 유지하면서 필요시 자동으로 줄바꿈 */
    word-wrap: break-word; /* 긴 단어가 div의 너비를 넘어갈 때 자동으로 줄바꿈 */
    overflow: auto; /* 내용이 div를 넘어갈 경우 스크롤바가 생김 */
    max-width: 100%; /* div의 최대 너비를 부모 요소에 맞춤 */
}