<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>개인정보 처리방침 필수 기재사항</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/generateMain.css">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var num = 1; // 시작 번호
            var elements = document.querySelectorAll('h2');

            elements.forEach(function(element) {
                element.innerHTML = element.innerHTML.replace('{{num}}', num++);
            });
        });
    </script>
</head>
<body>
<div class="header">
    개인정보 처리방침 필수 기재사항
</div>
<div class="form-container">
    <form id="privacyForm" action="/generateConfirm" method="post" enctype="multipart/form-data">
        <!-- 2. 대학교 이름 입력 -->
        <div class="form-group">
            <h2> {{num}}. 대학교 이름</h2>
            <input type="text" id="name" name="name" class="form-input" placeholder="ex) OO대학교" required>
        </div>

        <!-- 3. 처리목적 및 항목 파일 선택 -->
        <div class="form-group">
            <!--                ※ 본교가 법령에 근거하여 수집·보유하고 있는 주요 개인정보파일의 상세내용은 개인정보보호 포털(www.privacy.go.kr)에 접속 후 개인정보파일 목록 검색란에서 기관명으로-->
            <!--                조회하시면 확인 하실 수 있습니다. ☞ Click<br><br>-->
            <h2>{{num}}. 처리 목적 및 항목 파일:</h2>
            <!-- 사용자 정의 파일 선택 버튼 -->
            <button type="button" id="customFileBtn" class="btn">파일 선택 (.xlsx)</button>
            <!-- 실제 파일 입력 필드는 숨김 처리 -->
            <input type="file" id="customFile" name="file" accept=".xlsx" hidden required>
            <!-- 선택된 파일 이름을 표시할 공간 -->
            <span id="customFileName">선택된 파일 없음</span>
            <p>
                ※ 개인정보보호 포털>개인서비스>정보주체 권리행사>개인정보 열람등요구>개인정보파일 검색(
                https://www.privacy.go.kr/front/wcp/dcl/per/personalInfoFileSrhList.do)에 접속 > 검색란에서 대학교명으로 조회 > 엑셀
                파일 다운로드 ☞ 클릭
            </p>
            <!--            테이블 내용보기-->
        </div>

        <!-- 4. 개인정보의 파기 절차 및 방법 -->
        <div class="form-group checkbox-group">
            <h2 class="checkbox-label">{{num}}. 개인정보의 파기 절차 및 방법</h2>
            해당 항목은 의무적으로 작성해야 할 필수 항목으로 본 프로그램의 추천문구로 작성됩니다. 이에 동의하십니까?
            <div class="checkbox-option">
                <input type="checkbox" id="destructionProcedureAgree" name="destructionProcedure" value="yes"
                       class="checkbox-input" required>
                <label for="destructionProcedureAgree" class="checkbox-custom-label">예</label>
            </div>
        </div>

        <!-- 5. 정보주체와 법정대리인의 권리/의무 및 행사방법 -->
        <div class="form-group checkbox-group">
            <h2 class="checkbox-label">{{num}}. 정보주체와 법정대리인의 권리/의무 및 행사방법</h2>
            해당 항목은 의무적으로 작성해야 할 필수 항목으로 본 프로그램의 추천문구로 작성됩니다. 이에 동의하십니까?
            <div class="checkbox-option">
                <input type="checkbox" id="rightsAndDutiesAgree" name="rightsAndDuties" value="yes"
                       class="checkbox-input" required>
                <label for="rightsAndDutiesAgree" class="checkbox-custom-label">예</label>
            </div>
        </div>

        <!-- 6. 개인정보의 안정성 확보조치에 관한 사항 -->
        <div class="form-group checkbox-group">
            <h2 class="checkbox-label">{{num}}. 개인정보의 안정성 확보조치에 관한 사항</h2>
            <div class="checkbox-option">
                <input type="checkbox" id="minimalStaffTraining" name="securityMeasures" value="minimalStaffTraining"
                       class="checkbox-input">
                <label for="minimalStaffTraining" class="checkbox-custom-label">[관리]개인정보 취급 직원의 최소화 및 교육</label>
            </div>
            <div class="checkbox-option">
                <input type="checkbox" id="regularSelfAudit" name="securityMeasures" value="regularSelfAudit"
                       class="checkbox-input"
                >
                <label for="regularSelfAudit" class="checkbox-custom-label">[관리]정기적인 자체 감사 실시</label>
            </div>
            <div class="checkbox-option">
                <input type="checkbox" id="internalManagementPlan" name="securityMeasures"
                       value="internalManagementPlan"
                       class="checkbox-input">
                <label for="internalManagementPlan" class="checkbox-custom-label">[관리]내부관리계획의 수립 및 시행</label>
            </div>
            <div class="checkbox-option">
                <input type="checkbox" id="logManagement" name="securityMeasures" value="logManagement"
                       class="checkbox-input"
                >
                <label for="logManagement" class="checkbox-custom-label">[관리]접속기록의 보관 및 위 변조 방지</label>
            </div>
            <div class="checkbox-option">
                <input type="checkbox" id="dataEncryption" name="securityMeasures" value="dataEncryption"
                       class="checkbox-input"
                >
                <label for="dataEncryption" class="checkbox-custom-label">[기술]개인정보의 암호화</label>
            </div>
            <div class="checkbox-option">
                <input type="checkbox" id="securitySoftware" name="securityMeasures" value="securitySoftware"
                       class="checkbox-input"
                >
                <label for="securitySoftware" class="checkbox-custom-label">[기술]보안프로그램 설치 및 주기적 점검·갱신</label>
            </div>
            <div class="checkbox-option">
                <input type="checkbox" id="accessRestriction" name="securityMeasures" value="accessRestriction"
                       class="checkbox-input"
                >
                <label for="accessRestriction" class="checkbox-custom-label">[기술]개인정보에 대한 접근 제한</label>
            </div>
            <div class="checkbox-option">
                <input type="checkbox" id="unauthorizedAccessControl" name="securityMeasures"
                       value="unauthorizedAccessControl" class="checkbox-input">
                <label for="unauthorizedAccessControl" class="checkbox-custom-label">[물리]비인가자에 대한 출입 통제</label>
            </div>
            <div class="checkbox-option">
                <input type="checkbox" id="documentSecurity" name="securityMeasures" value="documentSecurity"
                       class="checkbox-input"
                >
                <label for="documentSecurity" class="checkbox-custom-label">[물리]문서보안을 위한 잠금장치 사용</label>
            </div>
        </div>

        <!-- 7. 개인정보 보호책임자(담당부서) -->
        <div class="form-group">
            <h2>{{num}}. 개인정보 보호책임자</h2>
            <div>
                <label>개인정보 보호책임자(필수)</label>
                <div>
                    <input type="text" id="chargeName" name="chargeName" class="form-input" placeholder="이름"
                           required>
                    <input type="text" id="chargeAffiliation" name="chargeAffiliation" class="form-input"
                           placeholder="소속"
                           required>
                    <input type="text" id="chargePhone" name="chargePhone" class="form-input" placeholder="전화번호"
                           required>
                    <input type="email" id="chargeEmail" name="chargeEmail" class="form-input" placeholder="이메일"
                           required>
                    <input type="text" id="chargeEtc" name="chargeEtc" class="form-input" placeholder="기타(FAX 등)">
                </div>
            </div>
            <div>
                <label>개인정보보호 담당부서(선택)</label>
                <div>
                    <input type="text" id="department" name="department" class="form-input" placeholder="부서명">
                    <input type="text" id="departmentName" name="departmentName" class="form-input" placeholder="담당자">
                    <input type="text" id="departmentPhone" name="departmentPhone" class="form-input"
                           placeholder="전화번호">
                    <input type="email" id="departmentEmail" name="departmentEmail" class="form-input"
                           placeholder="이메일">
                    <input type="text" id="departmentEtc" name="departmentEtc" class="form-input"
                           placeholder="기타(FAX 등)">
                </div>
            </div>

        </div>

        <!-- 8. 개인정보의 열람청구를 접수/처리하는 부서 -->
        <div class="form-group">
            <h2>{{num}}. 개인정보의 열람청구를 접수/처리하는 부서</h2>
            <input type="text" id="receipt_department" name="receipt_department" class="form-input" placeholder="부서명"
                   required>
            <input type="text" id="receipt_departmentName" name="receipt_departmentName" class="form-input"
                   placeholder="담당자" required>
            <input type="text" id="receipt_departmentPhone" name="receipt_departmentPhone" class="form-input"
                   placeholder="전화번호" required>
            <input type="email" id="receipt_departmentEmail" name="receipt_departmentEmail" class="form-input"
                   placeholder="이메일" required>
            <input type="text" id="receipt_departmentEtc" name="receipt_departmentEtc" class="form-input"
                   placeholder="기타(FAX 등)">
        </div>

        <!-- 9. 정보주체의 권익침해에 대한 구제방법 -->
        <div class="form-group checkbox-group">
            <h2 class="checkbox-label">{{num}}. 정보주체의 권익침해에 대한 구제방법</h2>
            해당 항목은 의무적으로 작성해야 할 필수 항목으로 본 프로그램의 추천문구로 작성됩니다. 이에 동의하십니까?
            <div class="checkbox-option">
                <input type="checkbox" id="remedy" name="remedy" value="yes"
                       class="checkbox-input" required>
                <label for="remedy" class="checkbox-custom-label">예</label>
            </div>
        </div>

        <!-- 10. 개인정보 처리방침의 변경 사항 -->
        <div class="form-group">
            <h2>{{num}}. 개인정보 처리방침의 변경 사항</h2>
            <div>
                <label>현재 처리방침 적용 날짜</label>
                <input type="date" id="current_date" name="current_date" class="form-input" required>
            </div>
        </div>


        <!-- 제출 버튼 -->
        <div class="submit-div">
            <button type="submit" class="submit-button" name="action" value="confirm">미리보기</button>
            <button type="submit" class="submit-button" name="action" value="nextform">다음 폼으로 이동</button>
        </div>
    </form>
</div>
<script>
    document.getElementById('customFileBtn').addEventListener('click', function () {
        document.getElementById('customFile').click();
    });

    document.getElementById('customFile').addEventListener('change', function () {
        var fileName = this.files[0].name;
        document.getElementById('customFileName').textContent = fileName;
    });

    document.getElementById('addDateButton').addEventListener('click', function() {
        // 새로운 div 요소 생성
        var newDiv = document.createElement('div');

        // 첫 번째 날짜 입력 필드 생성 및 설정
        var newInput1 = document.createElement('input');
        newInput1.type = 'date';
        newInput1.name = 'start_date';
        newInput1.className = 'form-input';

        // <p> 요소 생성 및 '~' 텍스트 설정
        var pElement = document.createElement('p');
        pElement.innerText = ' ~ '; // 혹은 pElement.textContent = ' ~ ';
        pElement.style.display = 'inline'; // <p>를 인라인 요소처럼 보이도록 설정

        // 두 번째 날짜 입력 필드 생성 및 설정
        var newInput2 = document.createElement('input');
        newInput2.type = 'date';
        newInput2.name = 'end_date';
        newInput2.className = 'form-input';

        // 새로운 div에 첫 번째 입력 필드, <p> 요소, 두 번째 입력 필드 추가
        newDiv.appendChild(newInput1);
        newDiv.appendChild(pElement);
        newDiv.appendChild(newInput2);

        // 날짜 입력 필드를 담고 있는 컨테이너에 새로운 div 요소 추가
        document.getElementById('dateInputsContainer').appendChild(newDiv);
    });

</script>
<script>
    window.onload = function () {
        var message = "{{ error }}";
        if (message) {
            alert(message);
        }
    }
</script>
</body>
</html>