<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>개인정보처리방침 생성 폼</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/generateMainMall.css">
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var num = 1; // 시작 번호
            var elements = document.querySelectorAll('h2');

            elements.forEach(function (element) {
                element.innerHTML = element.innerHTML.replace('{{num}}', num++);
            });
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="header">
    개인정보처리방침 생성 폼
</div>
<div class="form-container">
    <form id="privacyForm" action="/generateConfirm" method="post" enctype="multipart/form-data">
        <!-- 2. 쇼핑몰 이름 입력 -->
        <div class="form-group">
            <h2> {{ num }}. 쇼핑몰 이름</h2>
            <input type="text" id="name" name="name" class="form-input" placeholder="ex) OO백화점, OO마트 등" required>
        </div>
        <div>
            <h2>{{ num }}. 개인정보 제3자 제공에 관한 사항</h2>
            <ul class="sub_checkbox" id="SubCheckList">
                <fieldset>
                    <legend>개인정보 제3자 제공에 관한 사항</legend>

                    <table id="data-table">
                        <thead>
                        <tr class="columns">
                            <th class="check">선택</th>
                            <th class="recipient">제공받는 자</th>
                            <th class="purpose">제공 목적</th>
                            <th class="items">제공 항목</th>
                            <th class="period">보유 및 이용 기간</th>
                            <th class="reason">제공 근거</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- 대학 학적관리-->
                        <tr class="Row">
                            <td class="check"><input type="checkbox" value="check1" name="checklist"></td>
                            <td class="recipient">대학 학적관리</td>
                            <td class="purpose">
                            <textarea name="content">장학재단 장학 행정 협조
 - 장학금 지급 및 학자금 대출 관련 자료 요청
                            </textarea>
                            </td>
                            <td class="items">
                                <textarea name="content">주민등록번호, 성명, 학과,학번, 전화번호, 이메일,주소, 성별, 수험번호 , 학년, 학적, 신입생 여부, 등록납부대상구분, 학적상태, 입학년도, 총평균평점, 수납계좌번호</textarea>
                            </td>
                            <td class="period">
                                <textarea name="content">연 2회, 10년</textarea>
                            </td>
                            <td class="reason"><textarea name="content"> - 한국장학재단 설립 등에 관한 법률 제 50조 및 제 50조의 2
 - 한국장학재단 설립 등에 관한 법률 시행령 제35조의2, 제35조의3, 제36조의2
 - 고등교육법 시행령 제73조 제2항
 - 취업 후 학자금 상환 특별법 제45조의2
                        </textarea></td>
                        </tr>
                        <!-- 근로복지공단-->
                        <tr class="Row">
                            <td class="check"><input type="checkbox" value="check2" name="checklist"></td>
                            <td class="recipient">근로복지공단</td>
                            <td class="purpose">
                            <textarea style="height: 100%;" name="content">4대보험 업무 처리
 - 고용보험 보험료 징수 및 관리
 - 산재보험 보험료 징수 및 관리</textarea>
                            </td>
                            <td class="items">
                                <textarea name="content">성명, 주민등록번호, 연간보수총액, 월 소득액, 자격취득일, 직종부호, 1주소정근로시간</textarea>
                            </td>
                            <td class="period">
                                <textarea name="content">영구</textarea>
                            </td>
                            <td class="reason"><textarea name="content"> - 고용산재보험료징수법 제5조, 제11조, 제 12조, 제16조의1~16조 9, 제 40조
 - 고용보험법 제8조 및 제15조
 - 산업재해보상보험법 제6조</textarea></td>
                        </tr>
                        <!-- 국민연금관리공단-->
                        <tr class="Row">
                            <td class="check"><input type="checkbox" value="check3" name="checklist"></td>
                            <td class="recipient">국민연금관리공단</td>
                            <td class="purpose">
                            <textarea name="content">4대보험 업무 처리
 - 국민연금가입 및 공제 </textarea>
                            </td>
                            <td class="items">
                                <textarea name="content">성명, 주민번호, 월 소득액, 입사일, 퇴사일, 직종, 휴직기록</textarea>
                            </td>
                            <td class="period">
                                <textarea name="content">입사익월 15일 부터 퇴사익월 15일까지, 영구</textarea>
                            </td>
                            <td class="reason"><textarea name="content">국민연금법 제21조,제123조</textarea></td>
                        </tr>
                        <!-- 국민건강보험공단 -->
                        <tr class="Row">
                            <td class="check"><input type="checkbox" value="check4" name="checklist"></td>
                            <td class="recipient">국민건강보험공단</td>
                            <td class="purpose">
                            <textarea name="content">4대보험 업무 처리
- 건강보험가입 및 공제</textarea>
                            </td>
                            <td class="items">
                            <textarea
                                    name="content">성명,주민등록번호, 입사일, 퇴사일, 휴직기록, 월 소득액,  직종, 재직당시 근로소득,  해외출국기록</textarea>
                            </td>
                            <td class="period">
                                <textarea name="content">입사익월 15일부터 퇴사익월 15일까지, 영구</textarea>
                            </td>
                            <td class="reason"><textarea name="content"> - 국민건강보험법 제7조, 제9조, 제96조
 - 국민건강보험법 시행령 제38조
 - 국민건강보험법 시행규칙 제4조</textarea></td>
                        </tr>
                        <!-- 병무청 -->
                        <tr class="Row">
                            <td class="check"><input type="checkbox" value="check5" name="checklist"></td>
                            <td class="recipient">병무청</td>
                            <td class="purpose">
                            <textarea name="content">병무행정에 대한 협조
 - 신/재학생 입영 연기 처리
 - 학생 예비군 자원관리</textarea>
                            </td>
                            <td class="items">
                            <textarea
                                    name="content">성명, 생년월일, 주소, 학적반영일, 제적사유, 학번, 전공, 학년, 이메일, 전화번호, 입학년도, 졸업년도</textarea>
                            </td>
                            <td class="period">
                                <textarea name="content">연 2회(3월, 9월), 10년</textarea>
                            </td>
                            <td class="reason"><textarea name="content"> - 병역법 제80조 및 제60조
 - 병역법 시행령 제124조 및 제127조
 - 입영연기 관리 규정 제5조, 제6조, 제12조, 제14조</textarea></td>
                        </tr>
                        <!-- 국가평생교육진흥원 -->
                        <tr class="Row">
                            <td class="check"><input type="checkbox" value="check6" name="checklist"></td>
                            <td class="recipient">국가평생교육진흥원</td>
                            <td class="purpose">
                                <textarea name="content">학점인정 및 교육원 학사관리</textarea>
                            </td>
                            <td class="items">
                                <textarea name="content">성명, 생년월일, 학력, 주소, 전화번호, 이메일, 계좌번호</textarea>
                            </td>
                            <td class="period">
                                <textarea name="content">연 4회, 준영구</textarea>
                            </td>
                            <td class="reason"><textarea
                                    name="content">연 4회, 준영구</textarea></td>
                        </tr>
                        <!-- 한국대학교육협의회 -->
                        <tr class="Row">
                            <td class="check"><input type="checkbox" value="check7" name="checklist"></td>
                            <td class="recipient">한국대학교육협의회</td>
                            <td class="purpose">
                                <textarea name="content">입학 지원자 현황 및 위반자 처리</textarea>
                            </td>
                            <td class="items">
                                <textarea name="content">성명, 주민등록번호, 출신고교, 졸업년도</textarea>
                            </td>
                            <td class="period">
                                <textarea name="content">연 1회, 5년</textarea>
                            </td>
                            <td class="reason"><textarea name="content">고등교육법시행령제35조</textarea></td>
                        </tr>
                        <!-- 교육부 -->
                        <tr class="Row">
                            <td class="check"><input type="checkbox" value="check8" name="checklist"></td>
                            <td class="recipient">교육부</td>
                            <td class="purpose">
                            <textarea name="content">교원의 자격검정에 관한 사무
 - 교원자격증 수여</textarea>
                            </td>
                            <td class="items">
                                <textarea name="content">성명, 주민등록번호, 발급기관, 교원자격증번호, 발급일자, 보고년도, 취득일, 학위번호</textarea>
                            </td>
                            <td class="period">
                                <textarea name="content">연 2회, 준영구</textarea>
                            </td>
                            <td class="reason"><textarea name="content"> - 교원자격검정령 제3조, 제31조
 - 교원자격검정령 시행규칙 제3조의 2 </textarea></td>
                        </tr>
                        <!-- 법무부(출입국관리사무소) -->
                        <tr class="Row">
                            <td class="check"><input type="checkbox" value="check9" name="checklist"></td>
                            <td class="recipient">법무부(출입국관리사무소)</td>
                            <td class="purpose">
                                <textarea name="content">외국인 유학생(출입국) 관리</textarea>
                            </td>
                            <td class="items">
                                <textarea name="content">여권번호, 생년월일, 출신학교 이름, 출생국가, 성별, 국적, 이메일, 입학유형, 등록과정, 계열구분, 교육기간, 학과/전공, 한국어구사능력,출석현황</textarea>
                            </td>
                            <td class="period">
                                <textarea name="content">연 8회, 준영구</textarea>
                            </td>
                            <td class="reason"><textarea name="content">출입국관리법 제19조의4, 시행령 제101조</textarea></td>
                        </tr>
                        <!-- 한국대학교육협의회 -->
                        <tr class="Row">
                            <td class="check"><input type="checkbox" value="check10" name="checklist"></td>
                            <td class="recipient">한국대학교육협의회</td>
                            <td class="purpose">
                                <textarea name="content">대입전형지원자 현황, 중복등록자 확인</textarea>
                            </td>
                            <td class="items">
                                <textarea name="content">성명, 주민등록번호, 출신고교, 졸업년도</textarea>
                            </td>
                            <td class="period">
                                <textarea name="content">5년</textarea>
                            </td>
                            <td class="reason"><textarea name="content">고등교육법시행령제35조, 제42조,제42조의2</textarea></td>
                        </tr>
                        <!-- 국회도서관 -->
                        <tr class="Row">
                            <td class="check"><input type="checkbox" value="check11" name="checklist"></td>
                            <td class="recipient">국회도서관</td>
                            <td class="purpose">
                                <textarea name="content">학위논문 납본</textarea>
                            </td>
                            <td class="items">
                                <textarea name="content">학위등록번호, 성명, 학과, 졸업일자, 학위논문명</textarea>
                            </td>
                            <td class="period">
                                <textarea name="content">준영구</textarea>
                            </td>
                            <td class="reason"><textarea name="content">국회도서관법 제7조</textarea></td>
                        </tr>
                        <!-- 한국교육학술정보원 -->
                        <tr class="Row">
                            <td class="check"><input type="checkbox" value="check12" name="checklist"></td>
                            <td class="recipient">한국교육학술정보원</td>
                            <td class="purpose">
                                <textarea name="content">학위논문 등록관리</textarea>
                            </td>
                            <td class="items">
                                <textarea name="content">학위논문정보</textarea>
                            </td>
                            <td class="period">
                                <textarea name="content">준영구</textarea>
                            </td>
                            <td class="reason"><textarea name="content">정보주체 동의</textarea></td>
                        </tr>
                        <!-- 한국교육개발원 -->
                        <tr class="Row">
                            <td class="check"><input type="checkbox" value="check13" name="checklist"></td>
                            <td class="recipient">한국교육개발원</td>
                            <td class="purpose">
                                <textarea name="content">고등교육기관 교육기본통계조사 수행(학생, 교원, 직원)</textarea>
                            </td>
                            <td class="items">
                                <textarea name="content">성명,주민등록번호, 외국인등록번호, 입학년월일, 졸업년월일, 학적상태, 등록금납부현황, 학위취득일, 학위정보, 외국인학생졸업후상황, 교직원번호, 임용정보, 국적</textarea>
                            </td>
                            <td class="period">
                                <textarea name="content">연2회, 5년</textarea>
                            </td>
                            <td class="reason"><textarea name="content"> -  고등교육법 제11조의 3
 - 교육통계조사에 대한 훈령
 - 통계법에 따른 통계청 지정통계 승인번호 제334001호</textarea></td>
                        </tr>
                        <!-- 보훈처 -->
                        <tr class="Row">
                            <td class="check"><input type="checkbox" value="check14" name="checklist"></td>
                            <td class="recipient">보훈처</td>
                            <td class="purpose">
                                <textarea name="content">장학금(국가보조금) 지급</textarea>
                            </td>
                            <td class="items">
                            <textarea
                                    name="content">보훈번호,성명,주민등록번호,학과,학년,평균성적,신청학점,입학금,수업료,이수학기, 등록여부, 학적변동일자</textarea>
                            </td>
                            <td class="period">
                                <textarea name="content">연 2회, 5년</textarea>
                            </td>
                            <td class="reason"><textarea name="content"> - 국가유공자등예우및지원에관한법률제25조
 - 국가유공자등예우및지원에관한 법률시행령제102조의2</textarea></td>
                        </tr>
                        </tbody>
                    </table>
                    <button type="button" id="addRow">추가하기</button>
                </fieldset>
            </ul>
        </div>


        <!-- 4. 개인정보의 파기 절차 및 방법 -->
        <div class="form-group checkbox-group">
            <h2 class="checkbox-label">{{ num }}. 개인정보의 파기 절차 및 방법</h2>
            해당 항목은 의무적으로 작성해야 할 필수 항목으로 본 프로그램의 추천문구로 작성됩니다. 이에 동의하십니까?
            <div class="checkbox-option">
                <input type="checkbox" id="destructionProcedureAgree" name="destructionProcedure" value="yes"
                       class="checkbox-input" required>
                <label for="destructionProcedureAgree" class="checkbox-custom-label">예</label>
            </div>
        </div>

        <!-- 5. 정보주체와 법정대리인의 권리/의무 및 행사방법 -->
        <div class="form-group checkbox-group">
            <h2 class="checkbox-label">{{ num }}. 정보주체와 법정대리인의 권리/의무 및 행사방법</h2>
            해당 항목은 의무적으로 작성해야 할 필수 항목으로 본 프로그램의 추천문구로 작성됩니다. 이에 동의하십니까?
            <div class="checkbox-option">
                <input type="checkbox" id="rightsAndDutiesAgree" name="rightsAndDuties" value="yes"
                       class="checkbox-input" required>
                <label for="rightsAndDutiesAgree" class="checkbox-custom-label">예</label>
            </div>
        </div>

        <!-- 6. 개인정보의 안정성 확보조치에 관한 사항 -->
        <div class="form-group checkbox-group">
            <h2 class="checkbox-label">{{ num }}. 개인정보의 안정성 확보조치에 관한 사항</h2>
            <div class="checkbox-option">
                <input type="checkbox" id="minimalStaffTraining" name="securityMeasures" value="minimalStaffTraining"
                       class="checkbox-input">
                <label for="minimalStaffTraining" class="checkbox-custom-label">[관리]개인정보 취급 직원의 최소화 및 교육</label>
            </div>
            <div class="checkbox-option">
                <input type="checkbox" id="regularSelfAudit" name="securityMeasures" value="regularSelfAudit"
                       class="checkbox-input"
                >
                <label for="regularSelfAudit" class="checkbox-custom-label">[관리]정기적인 자체 감사 실시</label>
            </div>
            <div class="checkbox-option">
                <input type="checkbox" id="internalManagementPlan" name="securityMeasures"
                       value="internalManagementPlan"
                       class="checkbox-input">
                <label for="internalManagementPlan" class="checkbox-custom-label">[관리]내부관리계획의 수립 및 시행</label>
            </div>
            <div class="checkbox-option">
                <input type="checkbox" id="logManagement" name="securityMeasures" value="logManagement"
                       class="checkbox-input"
                >
                <label for="logManagement" class="checkbox-custom-label">[관리]접속기록의 보관 및 위 변조 방지</label>
            </div>
            <div class="checkbox-option">
                <input type="checkbox" id="dataEncryption" name="securityMeasures" value="dataEncryption"
                       class="checkbox-input"
                >
                <label for="dataEncryption" class="checkbox-custom-label">[기술]개인정보의 암호화</label>
            </div>
            <div class="checkbox-option">
                <input type="checkbox" id="securitySoftware" name="securityMeasures" value="securitySoftware"
                       class="checkbox-input"
                >
                <label for="securitySoftware" class="checkbox-custom-label">[기술]보안프로그램 설치 및 주기적 점검·갱신</label>
            </div>
            <div class="checkbox-option">
                <input type="checkbox" id="accessRestriction" name="securityMeasures" value="accessRestriction"
                       class="checkbox-input"
                >
                <label for="accessRestriction" class="checkbox-custom-label">[기술]개인정보에 대한 접근 제한</label>
            </div>
            <div class="checkbox-option">
                <input type="checkbox" id="unauthorizedAccessControl" name="securityMeasures"
                       value="unauthorizedAccessControl" class="checkbox-input">
                <label for="unauthorizedAccessControl" class="checkbox-custom-label">[물리]비인가자에 대한 출입 통제</label>
            </div>
            <div class="checkbox-option">
                <input type="checkbox" id="documentSecurity" name="securityMeasures" value="documentSecurity"
                       class="checkbox-input"
                >
                <label for="documentSecurity" class="checkbox-custom-label">[물리]문서보안을 위한 잠금장치 사용</label>
            </div>
        </div>

        <!-- 7. 개인정보 보호책임자(담당부서) -->
        <div class="form-group">
            <h2>{{ num }}. 개인정보 보호책임자</h2>
            <div>
                <label>개인정보 보호책임자(필수)</label>
                <div>
                    <input type="text" id="chargeName" name="chargeName" class="form-input" placeholder="이름"
                           required>
                    <input type="text" id="chargeAffiliation" name="chargeAffiliation" class="form-input"
                           placeholder="소속"
                           required>
                    <input type="text" id="chargePhone" name="chargePhone" class="form-input" placeholder="전화번호"
                           required>
                    <input type="email" id="chargeEmail" name="chargeEmail" class="form-input" placeholder="이메일"
                           required>
                    <input type="text" id="chargeEtc" name="chargeEtc" class="form-input" placeholder="기타(FAX 등)">
                </div>
            </div>
            <div>
                <label>개인정보보호 담당부서(선택)</label>
                <div>
                    <input type="text" id="department" name="department" class="form-input" placeholder="부서명">
                    <input type="text" id="departmentName" name="departmentName" class="form-input" placeholder="담당자">
                    <input type="text" id="departmentPhone" name="departmentPhone" class="form-input"
                           placeholder="전화번호">
                    <input type="email" id="departmentEmail" name="departmentEmail" class="form-input"
                           placeholder="이메일">
                    <input type="text" id="departmentEtc" name="departmentEtc" class="form-input"
                           placeholder="기타(FAX 등)">
                </div>
            </div>

        </div>

        <!-- 8. 개인정보의 열람청구를 접수/처리하는 부서 -->
        <div class="form-group">
            <h2>{{ num }}. 개인정보의 열람청구를 접수/처리하는 부서</h2>
            <input type="text" id="receipt_department" name="receipt_department" class="form-input" placeholder="부서명"
                   required>
            <input type="text" id="receipt_departmentName" name="receipt_departmentName" class="form-input"
                   placeholder="담당자" required>
            <input type="text" id="receipt_departmentPhone" name="receipt_departmentPhone" class="form-input"
                   placeholder="전화번호" required>
            <input type="email" id="receipt_departmentEmail" name="receipt_departmentEmail" class="form-input"
                   placeholder="이메일" required>
            <input type="text" id="receipt_departmentEtc" name="receipt_departmentEtc" class="form-input"
                   placeholder="기타(FAX 등)">
        </div>

        <!-- 9. 정보주체의 권익침해에 대한 구제방법 -->
        <div class="form-group checkbox-group">
            <h2 class="checkbox-label">{{ num }}. 정보주체의 권익침해에 대한 구제방법</h2>
            해당 항목은 의무적으로 작성해야 할 필수 항목으로 본 프로그램의 추천문구로 작성됩니다. 이에 동의하십니까?
            <div class="checkbox-option">
                <input type="checkbox" id="remedy" name="remedy" value="yes"
                       class="checkbox-input" required>
                <label for="remedy" class="checkbox-custom-label">예</label>
            </div>
        </div>

        <!-- 10. 개인정보 처리방침의 변경 사항 -->
        <div class="form-group">
            <h2>{{ num }}. 개인정보 처리방침의 변경 사항</h2>
            <div>
                <label>현재 처리방침 적용 날짜</label>
                <input type="date" id="current_date" name="current_date" class="form-input" required>
            </div>
        </div>


        <!-- 제출 버튼 -->
        <div class="submit-div">
            <button type="submit" class="submit-button" name="action" value="confirm">미리보기</button>
            <button type="submit" class="submit-button" name="action" value="nextform">다음 폼으로 이동</button>
        </div>
    </form>
</div>
<script>
    document.getElementById('customFileBtn').addEventListener('click', function () {
        document.getElementById('customFile').click();
    });

    document.getElementById('customFile').addEventListener('change', function () {
        var fileName = this.files[0].name;
        document.getElementById('customFileName').textContent = fileName;
    });
</script>
<script>
    window.onload = function () {
        var message = "{{ error }}";
        if (message) {
            alert(message);
        }
    }
</script>
<script>
    $(document).ready(function () {
        $("#addRow").click(function () {
            var newRow = `<tr class="Row">
                <td class="check"><input type="checkbox" name="checklist"></td>
                <td class="recipient"><input type="text" name="recipient" /></td>
                <td class="purpose"><textarea name="purpose"></textarea></td>
                <td class="items"><textarea name="items"></textarea></td>
                <td class="period"><textarea name="period"></textarea></td>
                <td class="reason"><textarea name="reason"></textarea></td>
            </tr>`;
            $("#data-table tbody").append(newRow);
        });
    });
</script>

</body>
</html>
