<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>검증 결과</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='inspectionresult.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>개인정보처리방침 검증 결과</h1>
            <p>P2AG의 개인정보 처리방침 검증 서비스는 개인정보 보호법과 관련 지침을 기반으로 
                다양한 사이트를 분석하여 검증 기준을 마련했습니다.
                귀사의 개인정보 처리방침 페이지 URL을 입력하시면 자동 검증이 시작됩니다.</p>
            <p>검사가 완료된 URL: {{ url }}</p>
        </header>
        <section class="results-section">

            <table>
                <tr>
                    <th>검증항목</th>
                    <th>검증결과</th>
                    <th>실제항목명</th>
                </tr>
                
                <tr>
                    <td>제목 및 서문</td>
                    <td>-</td>
                    <td>개인정보처리항목</td>
                </tr>


                {% for table in tables %}
                    <tr>
                        <td>{{table[0]}}</td>
                        <td>{{table[1]}}</td>
                        <td>{{table[2]}}</td>
                    </tr>
                {% endfor %}

            </table>

            <br><br>
            <hr>
            <br><br>

            {% for result in results %}
                <h2> {{result[0]}} </h2>
                <p>{{ result[1] }}</p>
                <br><br>
            {% endfor %}
            <br>
        </section>
        <a href="{{ url_for('inspectionMain') }}" style="text-decoration: none;">
            <button type="button">돌아가기</button>
        </a>
    </div>
</body>
</html>
