<!DOCTYPE html>
<html>
<head>
    <title>개인정보 처리방침 해당 시 의무 기재사항</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='nextForm.css') }}">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var num = 1; // 시작 번호
            var security_num = 1;
            var elements = document.querySelectorAll('h2');

            elements.forEach(function(element) {
                element.innerHTML = element.innerHTML.replace('{{num}}', num++);
            });
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
<div class="header">
    개인정보 처리방침 해당 시 의무 기재사항
</div>
<div class="form-container">
    <form id="privacyForm" action="/nextFormConfirm" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <!-- 첫번째 checkbox -->
            <div class="checkbox-option">
                <input type="checkbox" id="checkBox1" name="checkBox1" value="checkBox1" class="checkbox-input">
                <label for="checkBox1" class="checkbox-custom-label"><strong>개인정보 제3자 제공에 관한 사항</strong></label>
                <ul class="sub_checkbox" id="SubCheckList">
                    <fieldset>
                        <legend>개인정보 제3자 제공에 관한 사항</legend>
                        <p>※ 제공 목적, 제공 항목, 보유 및 이용 기간, 제공 근거에 대한 내용은 본 프로그램의 추천 문구 입니다. 해당 부분은 수정 가능합니다.</p>
                        <table id="data-table">
                            <thead>
                            <tr class="columns">
                                <th class="check">선택</th>
                                <th class="recipient">제공받는 자</th>
                                <th class="purpose">제공 목적</th>
                                <th class="items">제공 항목</th>
                                <th class="period">보유 및 이용 기간</th>
                                <th class="reason">제공 근거</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- 한국장학재단 -->
                            <tr class="Row">
                                <td class="check"><input type="checkbox" value="check1" name="checklist"></td>
                                <td class="recipient"><textarea name="recipient_check1" readonly> 한국장학재단</textarea></td>
                                <td class="purpose">
                            <textarea name="purpose_check1">장학재단 장학 행정 협조
 - 장학금 지급 및 학자금 대출 관련 자료 요청
                            </textarea>
                                </td>
                                <td class="items">
                                    <textarea name="items_check1">주민등록번호, 성명, 학과,학번, 전화번호, 이메일,주소, 성별, 수험번호 , 학년, 학적, 신입생 여부, 등록납부대상구분, 학적상태, 입학년도, 총평균평점, 수납계좌번호</textarea>
                                </td>
                                <td class="period">
                                    <textarea name="period_check1">연 2회, 10년</textarea>
                                </td>
                                <td class="reason"><textarea name="reason_check1"> - 한국장학재단 설립 등에 관한 법률 제 50조 및 제 50조의 2
 - 한국장학재단 설립 등에 관한 법률 시행령 제35조의2, 제35조의3, 제36조의2
 - 고등교육법 시행령 제73조 제2항
 - 취업 후 학자금 상환 특별법 제45조의2
                        </textarea></td>
                            </tr>
                            <!-- 근로복지공단-->
                            <tr class="Row">
                                <td class="check"><input type="checkbox" value="check2" name="checklist"></td>
                                <td class="recipient"><textarea readonly name="recipient_check2">근로복지공단</textarea></td>
                                <td class="purpose">
                            <textarea style="height: 100%;" name="purpose_check2">4대보험 업무 처리
 - 고용보험 보험료 징수 및 관리
 - 산재보험 보험료 징수 및 관리</textarea>
                                </td>
                                <td class="items">
                                    <textarea name="items_check2">성명, 주민등록번호, 연간보수총액, 월 소득액, 자격취득일, 직종부호, 1주소정근로시간</textarea>
                                </td>
                                <td class="period">
                                    <textarea name="period_check2">영구</textarea>
                                </td>
                                <td class="reason"><textarea name="reason_check2"> - 고용산재보험료징수법 제5조, 제11조, 제 12조, 제16조의1~16조 9, 제 40조
 - 고용보험법 제8조 및 제15조
 - 산업재해보상보험법 제6조</textarea></td>
                            </tr>
                            <!-- 국민연금관리공단-->
                            <tr class="Row">
                                <td class="check"><input type="checkbox" value="check3" name="checklist"></td>
                                <td class="recipient"><textarea readonly name="recipient_check3">국민연금관리공단</textarea></td>
                                <td class="purpose">
                            <textarea name="purpose_check3" >4대보험 업무 처리
 - 국민연금가입 및 공제 </textarea>
                                </td>
                                <td class="items">
                                    <textarea name="items_check3">성명, 주민번호, 월 소득액, 입사일, 퇴사일, 직종, 휴직기록</textarea>
                                </td>
                                <td class="period">
                                    <textarea name="period_check3">입사익월 15일 부터 퇴사익월 15일까지, 영구</textarea>
                                </td>
                                <td class="reason"><textarea name="reason_check3">국민연금법 제21조,제123조</textarea></td>
                            </tr>
                            <!-- 국민건강보험공단 -->
                            <tr class="Row">
                                <td class="check"><input type="checkbox" value="check4" name="checklist"></td>
                                <td class="recipient"><textarea readonly name="recipient_check4">국민건강보험공단</textarea></td>
                                <td class="purpose">
                            <textarea name="purpose_check4">4대보험 업무 처리
- 건강보험가입 및 공제</textarea>
                                </td>
                                <td class="items">
                            <textarea
                                    name="items_check4">성명,주민등록번호, 입사일, 퇴사일, 휴직기록, 월 소득액,  직종, 재직당시 근로소득,  해외출국기록</textarea>
                                </td>
                                <td class="period">
                                    <textarea name="period_check4">입사익월 15일부터 퇴사익월 15일까지, 영구</textarea>
                                </td>
                                <td class="reason"><textarea name="reason_check4"> - 국민건강보험법 제7조, 제9조, 제96조
 - 국민건강보험법 시행령 제38조
 - 국민건강보험법 시행규칙 제4조</textarea></td>
                            </tr>
                            <!-- 병무청 -->
                            <tr class="Row">
                                <td class="check"><input type="checkbox" value="check5" name="checklist"></td>
                                <td class="recipient"><textarea readonly name="recipient_check5">병무청</textarea></td>
                                <td class="purpose">
                            <textarea name="purpose_check5">병무행정에 대한 협조
 - 신/재학생 입영 연기 처리
 - 학생 예비군 자원관리</textarea>
                                </td>
                                <td class="items">
                            <textarea
                                    name="items_check5">성명, 생년월일, 주소, 학적반영일, 제적사유, 학번, 전공, 학년, 이메일, 전화번호, 입학년도, 졸업년도</textarea>
                                </td>
                                <td class="period">
                                    <textarea name="period_check5">연 2회(3월, 9월), 10년</textarea>
                                </td>
                                <td class="reason"><textarea name="reason_check5"> - 병역법 제80조 및 제60조
 - 병역법 시행령 제124조 및 제127조
 - 입영연기 관리 규정 제5조, 제6조, 제12조, 제14조</textarea></td>
                            </tr>
                            <!-- 국가평생교육진흥원 -->
                            <tr class="Row">
                                <td class="check"><input type="checkbox" value="check6" name="checklist"></td>
                                <td class="recipient"><textarea readonly name="recipient_check6">국가평생교육진흥원</textarea></td>
                                <td class="purpose">
                                    <textarea name="purpose_check6">학점인정 및 교육원 학사관리</textarea>
                                </td>
                                <td class="items">
                                    <textarea name="items_check6">성명, 생년월일, 학력, 주소, 전화번호, 이메일, 계좌번호</textarea>
                                </td>
                                <td class="period">
                                    <textarea name="period_check6">연 4회, 준영구</textarea>
                                </td>
                                <td class="reason"><textarea
                                        name="reason_check6">연 4회, 준영구</textarea></td>
                            </tr>
                            <!-- 한국대학교육협의회 -->
                            <tr class="Row">
                                <td class="check"><input type="checkbox" value="check7" name="checklist"></td>
                                <td class="recipient"><textarea readonly name="recipient_check7">한국대학교육협의회</textarea></td>
                                <td class="purpose">
                                    <textarea name="purpose_check7">입학 지원자 현황 및 위반자 처리</textarea>
                                </td>
                                <td class="items">
                                    <textarea name="items_check7">성명, 주민등록번호, 출신고교, 졸업년도</textarea>
                                </td>
                                <td class="period">
                                    <textarea name="period_check7">연 1회, 5년</textarea>
                                </td>
                                <td class="reason"><textarea name="reason_check7">고등교육법시행령제35조</textarea></td>
                            </tr>
                            <!-- 교육부 -->
                            <tr class="Row">
                                <td class="check"><input type="checkbox" value="check8" name="checklist"></td>
                                <td class="recipient"><textarea readonly name="recipient_check8">교육부</textarea></td>
                                <td class="purpose">
                            <textarea name="purpose_check8">교원의 자격검정에 관한 사무
 - 교원자격증 수여</textarea>
                                </td>
                                <td class="items">
                                    <textarea name="items_check8">성명, 주민등록번호, 발급기관, 교원자격증번호, 발급일자, 보고년도, 취득일, 학위번호</textarea>
                                </td>
                                <td class="period">
                                    <textarea name="period_check8">연 2회, 준영구</textarea>
                                </td>
                                <td class="reason"><textarea name="reason_check8"> - 교원자격검정령 제3조, 제31조
 - 교원자격검정령 시행규칙 제3조의 2 </textarea></td>
                            </tr>
                            <!-- 법무부(출입국관리사무소) -->
                            <tr class="Row">
                                <td class="check"><input type="checkbox" value="check9" name="checklist"></td>
                                <td class="recipient"><textarea readonly name="recipient_check9">법무부(출입국관리사무소)</textarea></td>
                                <td class="purpose">
                                    <textarea name="purpose_check9">외국인 유학생(출입국) 관리</textarea>
                                </td>
                                <td class="items">
                                    <textarea name="items_check9">여권번호, 생년월일, 출신학교 이름, 출생국가, 성별, 국적, 이메일, 입학유형, 등록과정, 계열구분, 교육기간, 학과/전공, 한국어구사능력,출석현황</textarea>
                                </td>
                                <td class="period">
                                    <textarea name="period_check9">연 8회, 준영구</textarea>
                                </td>
                                <td class="reason"><textarea name="reason_check9">출입국관리법 제19조의4, 시행령 제101조</textarea></td>
                            </tr>
                            <!-- 한국대학교육협의회 -->
                            <tr class="Row">
                                <td class="check"><input type="checkbox" value="check10" name="checklist"></td>
                                <td class="recipient"><textarea readonly name="recipient_check10">한국대학교육협의회</textarea></td>
                                <td class="purpose">
                                    <textarea name="purpose_check10">대입전형지원자 현황, 중복등록자 확인</textarea>
                                </td>
                                <td class="items">
                                    <textarea name="items_check10">성명, 주민등록번호, 출신고교, 졸업년도</textarea>
                                </td>
                                <td class="period">
                                    <textarea name="period_check10">5년</textarea>
                                </td>
                                <td class="reason"><textarea name="reason_check10">고등교육법시행령제35조, 제42조,제42조의2</textarea></td>
                            </tr>
                            <!-- 국회도서관 -->
                            <tr class="Row">
                                <td class="check"><input type="checkbox" value="check11" name="checklist"></td>
                                <td class="recipient"><textarea readonly name="recipient_check11">국회도서관</textarea></td>
                                <td class="purpose">
                                    <textarea name="purpose_check11">학위논문 납본</textarea>
                                </td>
                                <td class="items">
                                    <textarea name="items_check11">학위등록번호, 성명, 학과, 졸업일자, 학위논문명</textarea>
                                </td>
                                <td class="period">
                                    <textarea name="period_check11">준영구</textarea>
                                </td>
                                <td class="reason"><textarea name="reason_check11">국회도서관법 제7조</textarea></td>
                            </tr>
                            <!-- 한국교육학술정보원 -->
                            <tr class="Row">
                                <td class="check"><input type="checkbox" value="check12" name="checklist"></td>
                                <td class="recipient"><textarea readonly name="recipient_check12">한국교육학술정보원</textarea></td>
                                <td class="purpose">
                                    <textarea name="purpose_check12">학위논문 등록관리</textarea>
                                </td>
                                <td class="items">
                                    <textarea name="items_check12">학위논문정보</textarea>
                                </td>
                                <td class="period">
                                    <textarea name="period_check12">준영구</textarea>
                                </td>
                                <td class="reason"><textarea name="reason_check12">정보주체 동의</textarea></td>
                            </tr>
                            <!-- 한국교육개발원 -->
                            <tr class="Row">
                                <td class="check"><input type="checkbox" value="check13" name="checklist"></td>
                                <td class="recipient"><textarea readonly name="recipient_check13">한국교육개발원</textarea></td>
                                <td class="purpose">
                                    <textarea name="purpose_check13">고등교육기관 교육기본통계조사 수행(학생, 교원, 직원)</textarea>
                                </td>
                                <td class="items">
                                    <textarea name="items_check13">성명,주민등록번호, 외국인등록번호, 입학년월일, 졸업년월일, 학적상태, 등록금납부현황, 학위취득일, 학위정보, 외국인학생졸업후상황, 교직원번호, 임용정보, 국적</textarea>
                                </td>
                                <td class="period">
                                    <textarea name="period_check13">연2회, 5년</textarea>
                                </td>
                                <td class="reason"><textarea name="reason_check13"> -  고등교육법 제11조의 3
 - 교육통계조사에 대한 훈령
 - 통계법에 따른 통계청 지정통계 승인번호 제334001호</textarea></td>
                            </tr>
                            <!-- 보훈처 -->
                            <tr class="Row">
                                <td class="check"><input type="checkbox" value="check14" name="checklist"></td>
                                <td class="recipient"><textarea readonly name="recipient_check14">보훈처</textarea></td>
                                <td class="purpose">
                                    <textarea name="purpose_check14">장학금(국가보조금) 지급</textarea>
                                </td>
                                <td class="items">
                            <textarea
                                    name="items_check14">보훈번호,성명,주민등록번호,학과,학년,평균성적,신청학점,입학금,수업료,이수학기, 등록여부, 학적변동일자</textarea>
                                </td>
                                <td class="period">
                                    <textarea name="period_check14">연 2회, 5년</textarea>
                                </td>
                                <td class="reason"><textarea name="reason_check14"> - 국가유공자등예우및지원에관한법률제25조
 - 국가유공자등예우및지원에관한 법률시행령제102조의2</textarea></td>
                            </tr>
                            </tbody>
                        </table>
                        <button type="button" id="addRow">추가하기</button>
                    </fieldset>
                </ul>
            </div>
        </div>
        <!-- 제출 버튼 -->
        <div class="submit-div">
            <button type="submit" id="confirm" class="submit-button" name="action" value="confirm">미리보기</button>
            <button type="submit" id="result" class="submit-button" name="action" value="result">다음 폼</button>
        </div>
    </form>
</div>

<script>
    document.getElementById('confirm').addEventListener('click', function() {
        const selectedRows = document.querySelectorAll('#data-table .Row input[type="checkbox"]:checked');

        Array.from(selectedRows).forEach(row => {
            const recipient = row.closest('.Row').querySelector('.recipient').textContent;
            const purpose = row.closest('.Row').querySelector('.purpose textarea').value;
            const items = row.closest('.Row').querySelector('.items textarea').value;

            console.log(`제공받는 자: ${recipient}, 제공 목적: ${purpose}, 제공 항목: ${items}`); // 콘솔에 출력
            // 여기에서 선택된 정보를 서버에 전송하거나 로컬 스토리지에 저장할 수 있습니다.
        });
    });
</script>

<script>
    var num = 15;
    $(document).ready(function(){
        $("#addRow").click(function(){
            var newRow = `<tr class="Row">
                <td class="check"><input type="checkbox" value="check${num}" name="checklist"></td>
                <td class="recipient"><textarea name="recipient_check${num}"></textarea></td>
                <td class="purpose">
                    <textarea name="purpose_check${num}"></textarea>
                </td>
                <td class="items">
                    <textarea name="items_check${num}"></textarea>
                </td>
                <td class="period">
                    <textarea name="period_check${num}"></textarea>
                </td>
                <td class="reason"><textarea name="reason_check${num}"> </textarea></td>
            </tr>`;
            num++;
            $("#data-table tbody").append(newRow);
        });
    });

</script>

<script>
    const Checkbox = document.getElementById('checkBox1');
    const SubChecklist = document.getElementById('SubCheckList');

    Checkbox.addEventListener('change', function() {
        if (this.checked) {
            SubChecklist.style.display = 'block';
        } else {
            SubChecklist.style.display = 'none';
        }
    });

</script>

<script>
    window.onload = function () {
        var message = "{{ error }}";
        if (message) {
            alert(message);
        }
    }
</script>
</body>

</html>
