<!DOCTYPE html>
<html>
<head>
    <title>개인정보처리방침 생성 폼 입력 확인</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='nextFormConfirm.css') }}">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var num = 1; // 시작 번호
            var security_num = 1;
            var elements = document.querySelectorAll('strong');

            elements.forEach(function(element) {
                element.innerHTML = element.innerHTML.replace('{{num}}', num++);
            });
        });
    </script>
</head>
<body>
<div class="container">
    {% if checkbox1%}
    <div class="header">가명정보 처리에 관한 사항</div>
    <p><strong>{{num}}. {{name}}</strong>은(는) 수집한 개인정보를 특정 개인을 알아볼 수 없도록 가명 처리하여 통계작성, 과학적 연구, 공익적 기록보존 등을 위하여 처리할 수 있습니다.</p>
    <p><strong>{{num}}. </strong>{{safety_measure}}</p>
    <div>
        {% if table1 %}
        <p><strong>{{num}}. 가명정보의 처리목적 및 항목, 보유기간</strong></p>
        <table>
            <tr>
                <th>처리목적</th>
                <th>처리항목</th>
                <th>보유 및 이용기간</th>
            </tr>
            {% for table1_1, table1_2, table1_3 in table1 %}
            <tr>
                <td>{{ table1_1 }}</td>
                <td>{{ table1_2 }}</td>
                <td>{{ table1_3 }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        {% if sub_check1 %}
        <p><strong>{{num}}. 가명정보의 제 3자 제공에 관한 사항(해당되는 경우)</strong></p>
        <table>
            <tr>
                <th>제공받는 자</th>
                <th>제공받는 자의 이용 목적</th>
                <th>제공하는 항목</th>
                <th>제공받는 자의 보유 및 이용기간</th>
            </tr>
            {% for table2_1, table2_2, table2_3, table2_4 in table2 %}
            <tr>
                <td>{{ table2_1 }}</td>
                <td>{{ table2_2 }}</td>
                <td>{{ table2_3 }}</td>
                <td>{{ table2_4 }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        {% if sub_check2 %}
        <p><strong>{{num}}. 가명정보의 처리위탁에 관한 사항(해당되는 경우)</strong></p>
        <table>
            <tr>
                <th>수탁사 명</th>
                <th>업무내용</th>
            </tr>
            {% for table3_1, table3_2 in table3 %}
            <tr>
                <td>{{ table3_1 }}</td>
                <td>{{ table3_2 }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
    <br>
    <hr>
    {% endif %}

    {% if checkbox2 %}
    <div class="header">개인정보 자동 수집에 관한 사항</div>
    <div>
        <pre>{{ auto_collect }}</pre>
    </div>
    {% endif %}
    <!-- end -->
    <div>
        <button onclick="goBack()">뒤로 가기</button>
        <a href="/nextForm2">
            <button>다음으로</button>
        </a>

    </div>

</div>

<script>
    function goBack(){
    window.history.back();
    }
</script>
</body>
</html>