<!DOCTYPE html>
<html>
<head>
    <title>개인정보 처리방침 해당 시 의무 기재사항</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='nextForm.css') }}">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var num = 1; // 시작 번호
            var security_num = 1;
            var elements = document.querySelectorAll('h2');

            elements.forEach(function(element) {
                element.innerHTML = element.innerHTML.replace('{{num}}', num++);
            });
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
<div class="header">
    개인정보 처리방침 해당 시 의무 기재사항
</div>
<div class="form-container">
    <form id="privacyForm" action="/nextForm1_2Confirm" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <!-- 두번째 checkbox -->
            <div class="checkbox-option">
                <input type="checkbox" id="checkBox2" name="checkBox2" value="checkBox2" class="checkbox-input">
                <label for="checkBox2" class="checkbox-custom-label"><strong>개인정보처리 위탁에 관한 사항</strong></label>
                <ul class="sub_checkbox" id="SubCheckList2">
                    <fieldset>
                        <legend>대학교 개인정보 위탁 추천 항목</legend>
                        <p>※ 대학교에서 많이 기재되는 '개인정보처리 위탁에 관한 사항'의 추천 문구 입니다. 아래의 항목을 선택하시면 업무 내용이 자동 생성되고 수탁사는 직접 작성해야
                            합니다.</p>

                        <table id="data-table2">
                            <thead>
                            <tr class="columns">
                                <th class="check">업무내용(일반)</th>
                                <th class="trustee">수탁사(안내문구) <span class="faded-text">사용자 입력</span></th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- 원서접수 -->
                            <tr class="Row2">
                                <td class="check"><input type="checkbox" value="check1" name="checklist2"> 입학전형 온라인 접수 및
                                    전형료 수납
                                    <input type="hidden" value="입학전형 온라인 접수 및 전형료 수납" name="text_check1">
                                </td>
                                <td class="trustee">
                                    <input class="trustee-input" name="trustee_check1"
                                           placeholder="진학어플라이, 유웨이어플라이, 한국대학교육협의회">
                                </td>

                            </tr>
                            <!-- 증명서 발급 -->
                            <tr class="Row2">
                                <td class="check"><input type="checkbox" value="check2" name="checklist2"> 증명서 발급
                                    <input type="hidden" value="증명서 발급" name="text_check2">
                                </td>
                                <td class="trustee">
                                    <input class="trustee-input" name="trustee_check2" placeholder="디지털존, 씨아이테크 등">
                                </td>

                            </tr>
                            <!-- 등록금 납부 -->
                            <tr class="Row2">
                                <td class="check"><input type="checkbox" value="check3" name="checklist2">등록금 납부
                                    <input type="hidden" value="등록금 납부" name="text_check3">
                                </td>
                                <td class="trustee">
                                    <input class="trustee-input" name="trustee_check3" placeholder="OO은행, OO카드">
                                </td>
                            </tr>
                            <!-- 학생증 발급 -->
                            <tr class="Row2">
                                <td class="check"><input type="checkbox" value="check4" name="checklist2"> 학생증 발급
                                    <input type="hidden" value="학생증 발급" name="text_check4">
                                </td>
                                <td class="trustee">
                                    <input class="trustee-input" name="trustee_check4" placeholder="OO은행, OO카드">
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </fieldset>
                </ul>
            </div>

            <!-- 세번째 checkbox(수탁사&재수탁사) -->
            <div class="checkbox-option">
                <input type="checkbox" id="checkBox3" name="checkBox3" value="checkBox3" class="checkbox-input">
                <label for="checkBox3" class="checkbox-custom-label"><strong>위탁 사항 추가 - 유형별 위탁 업무 내용 선택 및 위탁사, 재위탁사
                    작성</strong></label>
                <ul class="sub_checkbox" id="SubCheckList3">
                    <div id="fieldsetContainer1">
                        <input type="hidden" id="fieldsetCount" name="fieldsetCount" value="1">
                        <fieldset id="1">
                            <legend>위탁 사항 추가</legend>
                            <p>※ 대학교에서 많이 기재되는 업무내용을 대분류, 중분류, 소분류로 구분하였습니다. 시스템-유지보수/운영-전자도서관 선택 시 업무 내용에 '전자도서관 시스템
                                유지보수,
                                운영'으로 기재됩니다.
                                <br>해당하는 업무 내용이 없는 경우, 기타()를 선택하고 직접 작성할 수 있습니다.</p>
                            <div class="trusteeList-classification">
                                <li>수탁사 명<input type="text" name="add_trustee1" class="form-input"
                                                placeholder="수탁사 명"></li>
                            </div>
                            <div class="trusteeList-classification">
                                <!-- 분류 1  -->
                                <li>분류 1
                                    <div class="radio-container" id="classification1">
                                        <input type="radio" name="trustee1_option1" value="trustee1_option1_1"> 시스템 운영
                                        및
                                        유지보수<input type="hidden" value="시스템 운영 및 유지보수" name="trustee1_option1_1">
                                        <input type="radio" name="trustee1_option1" value="trustee1_option1_2"> 시스템
                                        구축<input
                                            type="hidden" value="시스템 구축" name="trustee1_option1_2">
                                        <input type="radio" name="trustee1_option1" value="trustee1_option1_3"> 홈페이지
                                        운영 및
                                        유지보수<input type="hidden" value="홈페이지 운영 및 유지보수" name="trustee1_option1_3">
                                        <input type="radio" name="trustee1_option1" value="trustee1_option1_4"> 홈페이지
                                        구축 <input type="hidden" value="홈페이지 구축" name="trustee1_option1_4">
                                        <input type="radio" name="trustee1_option1" value="trustee1_option1_5"> 장비 운영
                                        및 유지보수 <input type="hidden" value="장비 운영 및 유지보수" name="trustee1_option1_5">
                                        <input type="radio" name="trustee1_option1" value="trustee1_option1_6"> 장비 구축
                                        <input type="hidden" value="장비 구축" name="trustee1_option1_6">
                                        <input type="radio" name="trustee1_option1" value="trustee1_option1_7"> 교육 컨텐츠
                                        제공 <input type="hidden" value="교육 컨텐츠 제공" name="trustee1_option1_7">
                                        <input type="radio" name="trustee1_option1" value="trustee1_option1_8"> 교육
                                        수강관리 <input type="hidden" value="교육 수강관리" name="trustee1_option1_8">
                                        <input type="radio" name="trustee1_option1" value="trustee1_option1_9"> 교육 테스트
                                        진행 <input type="hidden" value="교육 테스트 진행" name="trustee1_option1_9">
                                        <input type="radio" name="trustee1_option1" value="trustee1_option1_10"> 취업정보
                                        <input type="hidden" value="취업정보" name="trustee1_option1_10">
                                        <input type="radio" name="trustee1_option1" value="trustee1_option1_11"> 현장실습
                                        <input type="hidden" value="현장실습" name="trustee1_option1_11">
                                        <input type="radio" name="trustee1_option1" value="trustee1_option1_12"> 건강 검진
                                        <input type="hidden" value="건강 검진" name="trustee1_option1_12">
                                        <input type="radio" name="trustee1_option1" value="trustee1_option1_13"> 복지카드
                                        및 복지몰 <input type="hidden" value="복지카드 및 복지몰" name="trustee1_option1_13">
                                        <input type="radio" name="trustee1_option1" value="trustee1_option1_14"> 시설물
                                        관리 <input type="hidden" value="시설물 관리" name="trustee1_option1_14">
                                        <input type="radio" name="trustee1_option1" value="trustee1_option1_15"> 사용자
                                        자료관리 <input type="hidden" value="사용자 자료관리" name="trustee1_option1_15">
                                        <input type="radio" name="trustee1_option1" value="trustee1_option1_16"> 기타()
                                        <input type="text" placeholder="기타사항" id="trustee1_otherText" name="trustee1_option1_16"
                                               disabled>
                                    </div>
                                </li>
                            </div>
                            <div class="trusteeList-classification" id="trustee1_additional-classification1"
                                 style="display:none;">
                                <li>분류 2
                                    <div class="radio-container" id="radioContainer1">
                                        <input type="radio" name="trustee1_option2"
                                               value="trustee1_option2_1"> 전자도서관 <input type="hidden" value="전자도서관"
                                                                                        name="trustee1_option2_1">
                                        <input type="radio" name="trustee1_option2"
                                               value="trustee1_option2_2"> DB <input type="hidden" value="DB"
                                                                                     name="trustee1_option2_2">
                                        <input type="radio" name="trustee1_option2"
                                               value="trustee1_option2_3"> 전자문서 <input type="hidden" value="전자문서"
                                                                                       name="trustee1_option2_3">
                                        <input type="radio" name="trustee1_option2"
                                               value="trustee1_option2_4"> 전산 <input type="hidden" value="전산"
                                                                                     name="trustee1_option2_4">
                                        <input type="radio" name="trustee1_option2"
                                               value="trustee1_option2_5"> 전자출결관리 <input type="hidden"
                                                                                         value="전자출결관리"
                                                                                         name="trustee1_option2_5">
                                        <input type="radio" name="trustee1_option2"
                                               value="trustee1_option2_6"> 인터넷증명발급 <input type="hidden"
                                                                                          value="인터넷증명발급"
                                                                                          name="trustee1_option2_6">
                                        <input type="radio" name="trustee1_option2"
                                               value="trustee1_option2_7"> 입학관리 <input type="hidden" value="입학관리"
                                                                                       name="trustee1_option2_7">
                                        <input type="radio" name="trustee1_option2"
                                               value="trustee1_option2_8"> 연말정산 <input type="hidden" value="연말정산"
                                                                                       name="trustee1_option2_8">
                                        <input type="radio" name="trustee1_option2"
                                               value="trustee1_option2_9"> 출입관리 <input type="hidden" value="출입관리"
                                                                                       name="trustee1_option2_9">
                                        <input type="radio" name="trustee1_option2"
                                               value="trustee1_option2_10"> 학사행정 <input type="hidden" value="학사행정"
                                                                                        name="trustee1_option2_10">
                                        <input type="radio" name="trustee1_option2"
                                               value="trustee1_option2_11"> 그룹웨어 <input type="hidden" value="그룹웨어"
                                                                                        name="trustee1_option2_11">
                                        <input type="radio" name="trustee1_option2"
                                               value="trustee1_option2_12"> 통합정보 <input type="hidden" value="통합정보"
                                                                                        name="trustee1_option2_12">
                                        <input type="radio" name="trustee1_option2"
                                               value="trustee1_option2_13"> 논문 온라인 제출 <input type="hidden"
                                                                                             value="논문 온라인 제출"
                                                                                             name="trustee1_option2_13">
                                        <input type="radio" name="trustee1_option2"
                                               value="trustee1_option2_14" id="otherOption1"> 기타
                                        <input type="text" placeholder="기타사항" id="trustee1_otherText1"
                                               name="trustee1_option2_14" disabled>
                                    </div>
                                </li>
                            </div>
                            <div class="trusteeList-classification" id="trustee1_additional-classification2"
                                 style="display:none;">
                                <li>분류 2
                                    <div class="radio-container" id="radioContainer2">
                                        <input type="radio" name="trustee1_option2"
                                               value="trustee1_option2_15"> 대학 <input type="hidden" value="대학"
                                                                                      name="trustee1_option2_15">
                                        <input type="radio" name="trustee1_option2"
                                               value="trustee1_option2_16"> 학과 <input type="hidden" value="학과"
                                                                                      name="trustee1_option2_16">
                                        <input type="radio" name="trustee1_option2"
                                               value="trustee1_option2_17"> 기관 <input type="hidden" value="기관"
                                                                                      name="trustee1_option2_17">
                                        <input type="radio" name="trustee1_option2"
                                               value="trustee1_option2_18" id="otherOption2"> 기타
                                        <input type="text" placeholder="기타사항" id="trustee1_otherText2"
                                               name="trustee1_option2_18" disabled>
                                    </div>
                                </li>
                            </div>
                            <div class="trusteeList-classification" id="trustee1_additional-classification3"
                                 style="display:none;">
                                <li>분류 2
                                    <div class="radio-container" id="radioContainer3">
                                        <input type="radio" name="trustee1_option2"
                                               value="trustee1_option2_19"> 영상정보처리기기 <input type="hidden"
                                                                                            value="영상정보처리기기"
                                                                                            name="trustee1_option2_19">
                                        <input type="radio" name="trustee1_option2"
                                               value="trustee1_option2_20"> 증명서자동발급기 <input type="hidden"
                                                                                            value="증명서자동발급기"
                                                                                            name="trustee1_option2_20">
                                        <input type="radio" name="trustee1_option2"
                                               value="trustee1_option2_21" id="otherOption3"> 기타
                                        <input type="text" placeholder="기타사항" id="trustee1_otherText3"
                                               name="trustee1_option2_21" disabled>
                                    </div>
                                </li>
                            </div>
                            <div class="trusteeList-classification" id="trustee1_additional-classification4"
                                 style="display:none;">
                                <li>분류 2
                                    <div class="radio-container" id="radioContainer4">
                                        <input type="radio" name="trustee1_option2"
                                               value="trustee1_option2_22"> 토익 <input type="hidden" value="토익"
                                                                                      name="trustee1_option2_22">
                                        <input type="radio" name="trustee1_option2"
                                               value="trustee1_option2_23"> 외국어 <input type="hidden" value="외국어"
                                                                                       name="trustee1_option2_23">
                                        <input type="radio" name="trustee1_option2"
                                               value="trustee1_option2_24" id="otherOption4"> 기타
                                        <input type="text" placeholder="기타사항" id="trustee1_otherText4"
                                               name="trustee1_option2_24" disabled>
                                    </div>
                                </li>
                            </div>
                            <div class="trusteeList-classification" id="trustee1_additional-classification5"
                                 style="display:none;">
                                <li>분류 2
                                    <div class="radio-container" id="radioContainer5">
                                        <input type="radio" name="trustee1_option2"
                                               value="trustee1_option2_25" id="otherOption5"> 시설물
                                        명
                                        <input type="text" placeholder="시설물 명" id="trustee1_otherText5"
                                               name="trustee1_option2_25" disabled>
                                    </div>
                                </li>
                            </div>
                            <!-- 재위탁 여부 -->
                            <div class="trusteeList-classification">
                                <li>재수탁 여부
                                    <input type="checkbox" name="re_trustee1" value="re_trustee1" id="re_trustee1">
                                    <ul class="sub_checkbox" id="re_trusteeList1">
                                        <div id="trustee1_fieldsetContainer">
                                            <fieldset>
                                                <legend>재수탁사</legend>
                                                <div class="retrusteeList-classification">
                                                    <li>재수탁사 명<input type="text" name="trustee1_retrustee_name[]"
                                                                     class="form-input"
                                                                     placeholder="재수탁사 명"></li>
                                                    <li>위탁업무<input type="text" name="trustee1_retrustee_business[]"
                                                                   class="form-input"
                                                                   placeholder="위탁업무"></li>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <button type="button" id="addRow_trustee1_retrustee">재수탁사 추가하기</button>
                                    </ul>
                                </li>
                            </div>
                        </fieldset>
                    </div>
                    <button type="button" id="addRow_trustee">수탁사 추가하기</button>
                </ul>
            </div>
        </div>
        <!-- 제출 버튼 -->
        <div class="submit-div">
            <button type="submit" id="confirm" class="submit-button" name="action" value="confirm">미리보기</button>
            <button type="submit" id="result" class="submit-button" name="action" value="result">다음 폼</button>
        </div>
    </form>
</div>

<script>

    // document 전체에 대해 'click' 및 'change' 이벤트 리스너를 추가
document.addEventListener('click', function(event) {
    // 클릭된 요소가 fieldset 내의 button인지 확인
    if (event.target.closest('fieldset') && event.target.tagName === 'BUTTON') {
        // 클릭된 button이 속한 fieldset의 ID를 추출하여 trustee_num에 할당
        trustee_num = event.target.closest('fieldset').id;
        console.log(trustee_num);
        console.log(`click ${trustee_num}에서 반응이 일어났습니다.`);

        if (event.target.id === `addRow_trustee${trustee_num}_retrustee`) {
            console.log(`click 재수탁사에서 반응이 일어났습니다.`);
            var fieldset = document.createElement('fieldset');

            // fieldset에 추가할 내용. 예를 들어, 여기에 더 많은 요소를 추가할 수 있습니다.
            fieldset.innerHTML = `
                <legend>재수탁사</legend>
                <div class="retrusteeList-classification">
                    <li>재수탁사 명<input type="text" name="trustee${trustee_num}_retrustee_name[]"
                                     class="form-input"
                                     placeholder="재수탁사 명"></li>
                    <li>위탁업무<input type="text" name="trustee${trustee_num}_retrustee_business[]"
                                   class="form-input"
                                   placeholder="위탁업무"></li>
                </div>
                `;
            // fieldset을 div에 추가
            document.getElementById(`trustee${trustee_num}_fieldsetContainer`).appendChild(fieldset);
        }
    }
});

</script>
<script>
var trustee_num = 1;
document.addEventListener('change', function(event) {
    // 값이 변경된 요소가 fieldset 내의 input인지 확인
    if (event.target.closest('fieldset') && event.target.tagName === 'INPUT') {
        // 변경된 input이 속한 fieldset의 ID를 추출하여 trustee_num에 할당
        trustee_num = event.target.closest('fieldset').id;
        console.log(trustee_num, trustee_number);
        console.log(`change${trustee_num}에서 반응이 일어났습니다.`);

        if (event.target.name === `trustee${trustee_num}_option1`) {
            document.querySelectorAll(`input[name='trustee${trustee_num}_option2']`).forEach((elem) => {
                elem.checked = false;
            });
            if (event.target.value === `trustee${trustee_num}_option1_1` || event.target.value === `trustee${trustee_num}_option1_2`) {
                // 새로운 위탁분류를 보여줍니다.
                console.log(`if문 진입`);
                document.getElementById(`trustee${trustee_num}_additional-classification1`).style.display = 'block';
                document.getElementById(`trustee${trustee_num}_additional-classification2`).style.display = 'none';
                document.getElementById(`trustee${trustee_num}_additional-classification3`).style.display = 'none';
                document.getElementById(`trustee${trustee_num}_additional-classification4`).style.display = 'none';
                document.getElementById(`trustee${trustee_num}_additional-classification5`).style.display = 'none';
            }
            else if (event.target.value === `trustee${trustee_num}_option1_3` || event.target.value === `trustee${trustee_num}_option1_4`) {
                // 새로운 위탁분류를 보여줍니다.
                document.getElementById(`trustee${trustee_num}_additional-classification2`).style.display = 'block';
                document.getElementById(`trustee${trustee_num}_additional-classification1`).style.display = 'none';
                document.getElementById(`trustee${trustee_num}_additional-classification3`).style.display = 'none';
                document.getElementById(`trustee${trustee_num}_additional-classification4`).style.display = 'none';
                document.getElementById(`trustee${trustee_num}_additional-classification5`).style.display = 'none';
            }
            else if (event.target.value === `trustee${trustee_num}_option1_5` || event.target.value === `trustee${trustee_num}_option1_6`) {
                // 새로운 위탁분류를 보여줍니다.
                document.getElementById(`trustee${trustee_num}_additional-classification3`).style.display = 'block';
                document.getElementById(`trustee${trustee_num}_additional-classification2`).style.display = 'none';
                document.getElementById(`trustee${trustee_num}_additional-classification1`).style.display = 'none';
                document.getElementById(`trustee${trustee_num}_additional-classification4`).style.display = 'none';
                document.getElementById(`trustee${trustee_num}_additional-classification5`).style.display = 'none';
            }
            else if (event.target.value === `trustee${trustee_num}_option1_7` || event.target.value === `trustee${trustee_num}_option1_8` || event.target.value === `trustee${trustee_num}_option1_9`) {
                // 새로운 위탁분류를 보여줍니다.
                document.getElementById(`trustee${trustee_num}_additional-classification4`).style.display = 'block';
                document.getElementById(`trustee${trustee_num}_additional-classification2`).style.display = 'none';
                document.getElementById(`trustee${trustee_num}_additional-classification3`).style.display = 'none';
                document.getElementById(`trustee${trustee_num}_additional-classification1`).style.display = 'none';
                document.getElementById(`trustee${trustee_num}_additional-classification5`).style.display = 'none';
            }
            else if (event.target.value === `trustee${trustee_num}_option1_14` || event.target.value === `trustee${trustee_num}_option1_15`) {
                // 새로운 위탁분류를 보여줍니다.
                document.getElementById(`trustee${trustee_num}_additional-classification5`).style.display = 'block';
                document.getElementById(`trustee${trustee_num}_additional-classification2`).style.display = 'none';
                document.getElementById(`trustee${trustee_num}_additional-classification3`).style.display = 'none';
                document.getElementById(`trustee${trustee_num}_additional-classification4`).style.display = 'none';
                document.getElementById(`trustee${trustee_num}_additional-classification1`).style.display = 'none';
            }
             else {
                // 그 외 경우에는 새로운 위탁분류를 숨깁니다.
                document.getElementById(`trustee${trustee_num}_additional-classification1`).style.display = 'none';
                document.getElementById(`trustee${trustee_num}_additional-classification2`).style.display = 'none';
                document.getElementById(`trustee${trustee_num}_additional-classification3`).style.display = 'none';
                document.getElementById(`trustee${trustee_num}_additional-classification4`).style.display = 'none';
                document.getElementById(`trustee${trustee_num}_additional-classification5`).style.display = 'none';
            }
            if (event.target.value === `trustee${trustee_num}_option1_16`){
                document.getElementById(`trustee${trustee_num}_otherText`).disabled = false;
            } else {
                document.getElementById(`trustee${trustee_num}_otherText`).disabled = true;
            }
        }
        if (event.target.name === `trustee${trustee_num}_option2`) {
            if (event.target.value === `trustee${trustee_num}_option2_14`){
                document.getElementById(`trustee${trustee_num}_otherText1`).disabled = false;
            } else {
                document.getElementById(`trustee${trustee_num}_otherText1`).disabled = true;
            }
            if (event.target.value === `trustee${trustee_num}_option2_18`){
                document.getElementById(`trustee${trustee_num}_otherText2`).disabled = false;
            } else {
                document.getElementById(`trustee${trustee_num}_otherText2`).disabled = true;
            }
            if (event.target.value === `trustee${trustee_num}_option2_21`){
                document.getElementById(`trustee${trustee_num}_otherText3`).disabled = false;
            } else {
                document.getElementById(`trustee${trustee_num}_otherText3`).disabled = true;
            }
            if (event.target.value === `trustee${trustee_num}_option2_24`){
                document.getElementById(`trustee${trustee_num}_otherText4`).disabled = false;
            } else {
                document.getElementById(`trustee${trustee_num}_otherText4`).disabled = true;
            }
            if (event.target.value === `trustee${trustee_num}_option2_25`){
                document.getElementById(`trustee${trustee_num}_otherText5`).disabled = false;
            } else {
                document.getElementById(`trustee${trustee_num}_otherText5`).disabled = true;
            }
        }


<!--재수탁 여부-->
        if (event.target.type === 'checkbox') {
            const reTrusteeList = document.getElementById(`re_trusteeList${trustee_num}`);

            if (event.target.checked) {
                reTrusteeList.style.display = 'block';
            } else {
                reTrusteeList.style.display = 'none';
            }
        }
    }
});

</script>

<!--수탁사 추가되도록 하는 것-->
<script>
    var trustee_num = 2;
    var trustee_number = 1;
    var fieldsetCount = document.getElementById('fieldsetCount');

    document.getElementById('addRow_trustee').addEventListener('click', function() {
        // 새 fieldset 요소 생성
        trustee_number++;
        var fieldset = document.createElement('fieldset');

        // fieldset에 추가할 내용. 예를 들어, 여기에 더 많은 요소를 추가할 수 있습니다.
        fieldset.innerHTML = `
        <legend>위탁 사항 추가</legend>
        <p>※ 대학교에서 많이 기재되는 업무내용을 대분류, 중분류, 소분류로 구분하였습니다. 시스템-유지보수/운영-전자도서관 선택 시 업무 내용에 '전자도서관 시스템
            유지보수,
            운영'으로 기재됩니다.
            <br>해당하는 업무 내용이 없는 경우, 기타()를 선택하고 직접 작성할 수 있습니다.</p>
        <div class="trusteeList-classification">
            <li>수탁사 명<input type="text" name="add_trustee${trustee_number}" class="form-input"
                            placeholder="수탁사 명"></li>
        </div>
        <div class="trusteeList-classification">
            <!-- 분류 1  -->
            <li>분류 1
                <div class="radio-container" id="classification1">
                    <input type="radio" name="trustee${trustee_number}_option1" value="trustee${trustee_number}_option1_1"> 시스템 운영
                    및
                    유지보수<input type="hidden" value="시스템 운영 및 유지보수" name="trustee${trustee_number}_option1_1">
                    <input type="radio" name="trustee${trustee_number}_option1" value="trustee${trustee_number}_option1_2"> 시스템 구축<input
                        type="hidden" value="시스템 구축" name="trustee${trustee_number}_option1_2">
                    <input type="radio" name="trustee${trustee_number}_option1" value="trustee${trustee_number}_option1_3"> 홈페이지
                    운영 및
                    유지보수<input type="hidden" value="홈페이지 운영 및 유지보수" name="trustee${trustee_number}_option1_3">
                    <input type="radio" name="trustee${trustee_number}_option1" value="trustee${trustee_number}_option1_4"> 홈페이지
                    구축 <input type="hidden" value="홈페이지 구축" name="trustee${trustee_number}_option1_4">
                    <input type="radio" name="trustee${trustee_number}_option1" value="trustee${trustee_number}_option1_5"> 장비 운영
                    및 유지보수 <input type="hidden" value="장비 운영 및 유지보수" name="trustee${trustee_number}_option1_5">
                    <input type="radio" name="trustee${trustee_number}_option1" value="trustee${trustee_number}_option1_6"> 장비 구축
                    <input type="hidden" value="장비 구축" name="trustee${trustee_number}_option1_6">
                    <input type="radio" name="trustee${trustee_number}_option1" value="trustee${trustee_number}_option1_7"> 교육 컨텐츠
                    제공 <input type="hidden" value="교육 컨텐츠 제공" name="trustee${trustee_number}_option1_7">
                    <input type="radio" name="trustee${trustee_number}_option1" value="trustee${trustee_number}_option1_8"> 교육
                    수강관리 <input type="hidden" value="교육 수강관리" name="trustee${trustee_number}_option1_8">
                    <input type="radio" name="trustee${trustee_number}_option1" value="trustee${trustee_number}_option1_9"> 교육 테스트
                    진행 <input type="hidden" value="교육 테스트 진행" name="trustee${trustee_number}_option1_9">
                    <input type="radio" name="trustee${trustee_number}_option1" value="trustee${trustee_number}_option1_10"> 취업정보
                    <input type="hidden" value="취업정보" name="trustee${trustee_number}_option1_10">
                    <input type="radio" name="trustee${trustee_number}_option1" value="trustee${trustee_number}_option1_11"> 현장실습
                    <input type="hidden" value="현장실습" name="trustee${trustee_number}_option1_11">
                    <input type="radio" name="trustee${trustee_number}_option1" value="trustee${trustee_number}_option1_12"> 건강 검진
                    <input type="hidden" value="건강 검진" name="trustee${trustee_number}_option1_12">
                    <input type="radio" name="trustee${trustee_number}_option1" value="trustee${trustee_number}_option1_13"> 복지카드
                    및 복지몰 <input type="hidden" value="복지카드 및 복지몰" name="trustee${trustee_number}_option1_13">
                    <input type="radio" name="trustee${trustee_number}_option1" value="trustee${trustee_number}_option1_14"> 시설물
                    관리 <input type="hidden" value="시설물 관리" name="trustee${trustee_number}_option1_14">
                    <input type="radio" name="trustee${trustee_number}_option1" value="trustee${trustee_number}_option1_15"> 사용자
                    자료관리 <input type="hidden" value="사용자 자료관리" name="trustee${trustee_number}_option1_15">
                    <input type="radio" name="trustee${trustee_number}_option1" value="trustee${trustee_number}_option1_16"> 기타()
                    <input type="text" placeholder="기타사항" id="trustee${trustee_number}_otherText" name="trustee${trustee_number}_option1_16"
                           disabled>
                </div>
            </li>
        </div>
        <div class="trusteeList-classification" id="trustee${trustee_number}_additional-classification1"
             style="display:none;">
            <li>분류 2
                <div class="radio-container" id="radioContainer1">
                    <input type="radio" name="trustee${trustee_number}_option2"
                           value="trustee${trustee_number}_option2_1"> 전자도서관 <input type="hidden" value="전자도서관"
                                                                         name="trustee${trustee_number}_option2_1">
                    <input type="radio" name="trustee${trustee_number}_option2"
                           value="trustee${trustee_number}_option2_2"> DB <input type="hidden" value="DB"
                                                                      name="trustee${trustee_number}_option2_2">
                    <input type="radio" name="trustee${trustee_number}_option2"
                           value="trustee${trustee_number}_option2_3"> 전자문서 <input type="hidden" value="전자문서"
                                                                        name="trustee${trustee_number}_option2_3">
                    <input type="radio" name="trustee${trustee_number}_option2"
                           value="trustee${trustee_number}_option2_4"> 전산 <input type="hidden" value="전산"
                                                                      name="trustee${trustee_number}_option2_4">
                    <input type="radio" name="trustee${trustee_number}_option2"
                           value="trustee${trustee_number}_option2_5"> 전자출결관리 <input type="hidden"
                                                                          value="전자출결관리"
                                                                          name="trustee${trustee_number}_option2_5">
                    <input type="radio" name="trustee${trustee_number}_option2"
                           value="trustee${trustee_number}_option2_6"> 인터넷증명발급 <input type="hidden"
                                                                           value="인터넷증명발급"
                                                                           name="trustee${trustee_number}_option2_6">
                    <input type="radio" name="trustee${trustee_number}_option2"
                           value="trustee${trustee_number}_option2_7"> 입학관리 <input type="hidden" value="입학관리"
                                                                        name="trustee${trustee_number}_option2_7">
                    <input type="radio" name="trustee${trustee_number}_option2"
                           value="trustee${trustee_number}_option2_8"> 연말정산 <input type="hidden" value="연말정산"
                                                                        name="trustee${trustee_number}_option2_8">
                    <input type="radio" name="trustee${trustee_number}_option2"
                           value="trustee${trustee_number}_option2_9"> 출입관리 <input type="hidden" value="출입관리"
                                                                        name="trustee${trustee_number}_option2_9">
                    <input type="radio" name="trustee${trustee_number}_option2"
                           value="trustee${trustee_number}_option2_10"> 학사행정 <input type="hidden" value="학사행정"
                                                                         name="trustee${trustee_number}_option2_10">
                    <input type="radio" name="trustee${trustee_number}_option2"
                           value="trustee${trustee_number}_option2_11"> 그룹웨어 <input type="hidden" value="그룹웨어"
                                                                         name="trustee${trustee_number}_option2_11">
                    <input type="radio" name="trustee${trustee_number}_option2"
                           value="trustee${trustee_number}_option2_12"> 통합정보 <input type="hidden" value="통합정보"
                                                                         name="trustee${trustee_number}_option2_12">
                    <input type="radio" name="trustee${trustee_number}_option2"
                           value="trustee${trustee_number}_option2_13"> 논문 온라인 제출 <input type="hidden"
                                                                              value="논문 온라인 제출"
                                                                              name="trustee${trustee_number}_option2_13">
                    <input type="radio" name="trustee${trustee_number}_option2"
                           value="trustee${trustee_number}_option2_14" id="otherOption1"> 기타
                    <input type="text" placeholder="기타사항" id="trustee${trustee_number}_otherText1"
                           name="trustee${trustee_number}_option2_14" disabled>
                </div>
            </li>
        </div>
        <div class="trusteeList-classification" id="trustee${trustee_number}_additional-classification2"
             style="display:none;">
            <li>분류 2
                <div class="radio-container" id="radioContainer2">
                    <input type="radio" name="trustee${trustee_number}_option2"
                           value="trustee${trustee_number}_option2_15"> 대학 <input type="hidden" value="대학"
                                                                       name="trustee${trustee_number}_option2_15">
                    <input type="radio" name="trustee${trustee_number}_option2"
                           value="trustee${trustee_number}_option2_16"> 학과 <input type="hidden" value="학과"
                                                                       name="trustee${trustee_number}_option2_16">
                    <input type="radio" name="trustee${trustee_number}_option2"
                           value="trustee${trustee_number}_option2_17"> 기관 <input type="hidden" value="기관"
                                                                       name="trustee${trustee_number}_option2_17">
                    <input type="radio" name="trustee${trustee_number}_option2"
                           value="trustee${trustee_number}_option2_18" id="otherOption2"> 기타
                    <input type="text" placeholder="기타사항" id="trustee${trustee_number}_otherText2"
                           name="trustee${trustee_number}_option2_18" disabled>
                </div>
            </li>
        </div>
        <div class="trusteeList-classification" id="trustee${trustee_number}_additional-classification3"
             style="display:none;">
            <li>분류 2
                <div class="radio-container" id="radioContainer3">
                    <input type="radio" name="trustee${trustee_number}_option2"
                           value="trustee${trustee_number}_option2_19"> 영상정보처리기기 <input type="hidden"
                                                                             value="영상정보처리기기"
                                                                             name="trustee${trustee_number}_option2_19">
                    <input type="radio" name="trustee${trustee_number}_option2"
                           value="trustee${trustee_number}_option2_20"> 증명서자동발급기 <input type="hidden"
                                                                             value="증명서자동발급기"
                                                                             name="trustee${trustee_number}_option2_20">
                    <input type="radio" name="trustee${trustee_number}_option2"
                           value="trustee${trustee_number}_option2_21" id="otherOption3"> 기타
                    <input type="text" placeholder="기타사항" id="trustee${trustee_number}_otherText3"
                           name="trustee${trustee_number}_option2_21" disabled>
                </div>
            </li>
        </div>
        <div class="trusteeList-classification" id="trustee${trustee_number}_additional-classification4"
             style="display:none;">
            <li>분류 2
                <div class="radio-container" id="radioContainer4">
                    <input type="radio" name="trustee${trustee_number}_option2"
                           value="trustee${trustee_number}_option2_22"> 토익 <input type="hidden" value="토익"
                                                                       name="trustee${trustee_number}_option2_22">
                    <input type="radio" name="trustee${trustee_number}_option2"
                           value="trustee${trustee_number}_option2_23"> 외국어 <input type="hidden" value="외국어"
                                                                        name="trustee${trustee_number}_option2_23">
                    <input type="radio" name="trustee${trustee_number}_option2"
                           value="trustee${trustee_number}_option2_24" id="otherOption4"> 기타
                    <input type="text" placeholder="기타사항" id="trustee${trustee_number}_otherText4"
                           name="trustee${trustee_number}_option2_24" disabled>
                </div>
            </li>
        </div>
        <div class="trusteeList-classification" id="trustee${trustee_number}_additional-classification5"
             style="display:none;">
            <li>분류 2
                <div class="radio-container" id="radioContainer5">
                    <input type="radio" name="trustee${trustee_number}_option2"
                           value="trustee${trustee_number}_option2_25" id="otherOption5"> 시설물
                    명
                    <input type="text" placeholder="시설물 명" id="trustee${trustee_number}_otherText5"
                           name="trustee${trustee_number}_option2_25" disabled>
                </div>
            </li>
        </div>
        <!-- 재위탁 여부 -->
        <div class="trusteeList-classification">
            <li>재수탁 여부
                <input type="checkbox" name="re_trustee${trustee_number}" value="re_trustee${trustee_number}" id="re_trustee${trustee_number}"> 재수탁
                하시겠습니까?
                <ul class="sub_checkbox" id="re_trusteeList${trustee_number}">
                    <div id="trustee${trustee_number}_fieldsetContainer">
                        <fieldset>
                            <legend>재수탁사</legend>
                            <div class="retrusteeList-classification">
                                <li>재수탁사 명<input type="text" name="trustee${trustee_number}_retrustee_name[]"
                                                 class="form-input"
                                                 placeholder="재수탁사 명"></li>
                                <li>위탁업무<input type="text" name="trustee${trustee_number}_retrustee_business[]"
                                               class="form-input"
                                               placeholder="위탁업무"></li>
                            </div>
                        </fieldset>
                    </div>
                    <button type="button" id="addRow_trustee${trustee_number}_retrustee">재수탁사 추가하기</button>
                </ul>
            </li>
        </div>`;
        // fieldset을 div에 추가
        fieldset.id = trustee_number;
        fieldsetCount.value = trustee_number;


        console.log(fieldset.id);
        document.getElementById('fieldsetContainer1').appendChild(fieldset);
    });
</script>

<script>
    const Checkbox2 = document.getElementById('checkBox2');
    const SubChecklist2 = document.getElementById('SubCheckList2');

    Checkbox2.addEventListener('change', function() {
        if (this.checked) {
            SubChecklist2.style.display = 'block';
        } else {
            SubChecklist2.style.display = 'none';
        }
    });

    const Checkbox3 = document.getElementById('checkBox3');
    const SubChecklist3 = document.getElementById('SubCheckList3');

    Checkbox3.addEventListener('change', function() {
        if (this.checked) {
            SubChecklist3.style.display = 'block';
        } else {
            SubChecklist3.style.display = 'none';
        }
    });




</script>

<script>
    window.onload = function () {
        var message = "{{ error }}";
        if (message) {
            alert(message);
        }
    }


</script>


</body>

</html>
