<!DOCTYPE html>
<html>
<head>
    <title>개인정보처리방침 생성 폼 입력 확인</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='nextFormConfirm.css') }}">
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var num = 1; // 시작 번호
            var security_num = 1;
            var elements = document.querySelectorAll('h2');

            elements.forEach(function (element) {
                element.innerHTML = element.innerHTML.replace('{{num}}', num++);
            });
        });
    </script>
</head>
<body>
<div class="container">
    {% if checkbox2 or checkbox3 %}
        <div class="header">개인정보처리 위탁에 관한 사항</div>
        <p>위탁계약 체결 시 「개인정보 보호법」 제26조에 따라 위탁업무 수행목적 외 개인정보 처리금지, 기술적·관리적 보호조치, 재위탁 제한, 수탁자에 대한 관리·감독, 손해배상 등 책임에 관한 사항을
            계약서 등 문서에 명시하고, 수탁자가 개인정보를 안전하게 처리하는지 관리 현황을 정기적으로 점검하며 감독하고 있습니다.</p>
        <p><strong>{{ name }}</strong>는 원활한 개인정보 업무처리를 위하여 다음과 같이 개인정보 처리업무를 위탁하고 있으며, 위탁업무의 내용이나 수탁자가 변경될 경우에는 본
            개인정보처리방침을 통하여 공개하겠습니다.
        </p>
        <table>
            <thead>
            <tr class="columns">
                <th class="trustee">위탁받은자(수탁자)</th>
                <th class="text">업무 내용</th>
            </tr>
            </thead>
            {% for row in selected_rows %}
                <tr>
                    <td>
                        <div class="trustee"> {{ row.trustee }}</div>
                    </td>
                    <td>
                        <div class="text"> {{ row.text }}</div>
                    </td>
                </tr>
            {% endfor %}
            {% if checkbox3 %}
                {% for trustee, classification1, classification2 in trustees %}
                    {% if trustee %}
                        <tr>
                            <td>
                                <div> {{ trustee }}</div>
                            </td>

                            <td>
                                <div>
                                    {% if classification2 %}
                                        {{ classification2 }}
                                    {% endif %}
                                    {% if classification1 %}
                                        {{ classification1 }}
                                    {% endif %}

                                </div>
                            </td>
                            {% if retrustees_dict[loop.index] %}
                                {% for retrustee in retrustees_dict[loop.index] %}
                                    {% if retrustee['name'] %}
                                        <tr>
                                            <td> ㄴ {{ retrustee['name'] }} </td>
                                            <td> {{ retrustee['business'] }} </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}


            {% endif %}

        </table>
        <br>
        <hr>


    {% endif %}
    <!-- end -->
    <div>
        <button onclick="goBack()">뒤로 가기</button>
        <a href="/nextForm1_3">
            <button>다음으로</button>
        </a>

    </div>

</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>