<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>개인정보 처리방침 평가 대상 고지</title>
    <link rel="stylesheet" href="../static/preGenerate.css">
</head>
<body>
<h1>개인정보 처리방침 평가 대상 고지</h1>
<table border="1">
    <tr>
        <th>유형</th>
        <td colspan="2">대학교 / 쇼핑몰</td>
    </tr>
    <tr>
        <th>처리 방침 평가 대상</th>
        <td colspan="2">공통 - 「개인정보 보호법」 제2조 제5호에 따른 개인정보처리자가 법 제30조 및 동법 시행령 제31조에 따라 ‘개인정보 처리방침’을 수립 및 공개해야 한다.</td>
    </tr>
    <tr>
        <th>대학교</th>
        <td colspan="2">「개인정보 보호법」 제 32조에 따라 개인정보보호위원회(이하 ‘보호위원회’)에 등록대상이 되는 개인정보파일에 대하여 개인정보 처리방침을 정해야 한다.</td>
    </tr>
    <tr>
        <th>공통</th>
        <td>「개인정보 처리방침 평가에 관한 고시」 제 4조 에 따라 다음과 같은 평가 대상을 선정한다.</td>
        <td>
            <li>전년도(법인의 경우에는 전 사업연도를 말하며, 이하 이 조에서 같다)의 매출액이 1,500억원 이상이면서 전년도 말 기준 직전 3개월간 그 개인정보가 저장ㆍ관리되고 있는 정보주체의 수가
                일일평균
                100만명 이상일 것
            </li>
            <li>전년도 말 기준 직전 3개월간 법 제23조제1항에 따른 민감정보(이하 "민감정보"라 한다) 또는 법 제24조제1항에 따른 고유식별정보(이하 "고유식별정보"라 한다)가 저장ㆍ관리되고 있는
                정보주체의 수가
                일일평균 5만명 이상일 것
            </li>
            <li>개인정보 처리방침에 법 제22조제3항에 따라 정보주체의 동의 없이 처리할 수 있는 개인정보의 항목과 처리의 법적 근거를 정보주체의 동의를 받아 처리하는 개인정보와 구분하고 있지 않을
                것
            </li>
            <li>법 제37조의2에 따라 완전히 자동화된 시스템(인공지능 기술을 적용한 시스템을 포함한다)으로 개인정보를 처리하거나, 그 밖에 새로운 기술을 이용한 개인정보 처리 방식으로 인하여 개인정보
                침해
                발생
                우려가 있을 것
            </li>
            <li>최근 3년 간 다음 각 목의 어느 하나에 해당할 것
                <ol>
                    <li>2회 이상 법 제34조에 따른 개인정보 유출등이 되었을 것</li>
                    <li>법 제62조의2에 따른 과징금을 부과 받았을 것</li>
                    <li>법 제75조에 따른 과태료를 부과 받았을 것</li>
                </ol>
            </li>
            <li>19세 미만 아동 또는 청소년을 주된 이용자로 하는 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」 제2조제2호에 따른 정보통신서비스를 운영할 것
            </li>
        </td>
    </tr>

</table>

<div class="submit-div">
    <button onclick="goBack()" class="submit-button">뒤로 가기</button>
    <a href="/generateMain" style="text-decoration: none;">
        <button class="submit-button">대학교 개인정보 처리방침 생성</button>
    </a>
    <a href="/generateMainMall" style="text-decoration: none;">
        <button class="submit-button">쇼핑몰 개인정보 처리방침 생성</button>
    </a>
</div>
<script>
    function goBack() {
        window.history.back();
    }
</script>