

            <!--            <input type="checkbox" id="signupCheckbox"> 학적 관리를 위한 정보 선택-->
            <!--            <ul class="sub-checklist" id="signupSubChecklist">-->
            <!--                <li><input type="checkbox" id="signupCheckbox2"> 필수 수집 정보-->
            <!--                    <ul class="sub2-checklist" id="signupSub2Checklist">-->
            <!--                        <li><input type="checkbox" class="email"> 이메일</li>-->
            <!--                        <li><input type="checkbox" class="name"> 이름</li>-->
            <!--                        <li><input type="checkbox" class="birthday"> 생년월일</li>-->
            <!--                    </ul>-->
            <!--                </li>-->
            <!--                <li><input type="checkbox" id="signupCheckbox3" class="optional"> 선택 수집 정보-->
            <!--                    <ul class="sub3-checklist" id="signupSub3Checklist">-->
            <!--                        <li><input type="text" class="option"> 선택사항</li>-->
            <!--                    </ul>-->
            <!--                </li>-->
            <!--            </ul>-->