<!-- templates/submit.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submission Result</title>
</head>
<body>
    <h1>{{ provider }} 개인정보 처리방침</h1>
    <div>
        <p>{{ provider }}(이하 '본교')가 취급하는 모든 개인정보는 「개인정보 보호법」 등 관련 법령에 근거하거나 정보주체의 동의에 의하여 수집·보유·처리하고 있습니다.</p>
        <p>본교는 「개인정보 보호법」에 따라 이용자의 개인정보 보호 및 권익을 보호하고 개인정보와 관련한 이용자의 고충을 원활하게 처리할 수 있도록 다음과 같은 처리방침을 두고 있으며 개정하는 경우 홈페이지를 통하여 공지할 것 입니다. 아울러, 이 방침은 별도의 설명이 없는 한 개인정보를 처리하는 본교 소관 정보시스템(홈페이지 포함)에 적용됨을 알려드립니다.</p>
        <h3>제1조 (개인정보의 처리 목적)</h3>
        <p> 본교는 개인정보를 다음의 목적을 위해 처리합니다. 처리하고 있는 개인정보는 다음의 목적 이외의 용도로는 이용되지 않으며 이용목적이 변경될 시에는 사전 동의를 구할 예정입니다.</p>
        <h4>가. 입시 및 학사 업무처리</h4>
        <p>본교에서 제공하는 입시, 학사, 학생, 도서, 온라인교육, 교수·학습, 연구, 보건 등의 회원제 서비스 이용에 따른 본인확인, 개인 식별, 불량회원의 부정이용 방지와 비인가 사용방지, 연령확인, 분쟁조정을 위한 기록보존, 불만처리 등 민원처리, 공지사항 전달 등의 목적으로 개인정보를 처리합니다.</p>
        <h4>나. 서비스 제공</h4>
        <p>본교의 소개 및 공지사항, 교육콘텐츠 제공, 본인인증, 증명서발급(교육 수료증), 입학관련 정보 등의 서비스 제공에 관련한 목적으로 개인정보를 처리합니다.</p>
        <h4>다. 회원가입 및 관리</h4>
        <p>본교에서 제공하는 입시, 학사, 학생, 도서, 온라인교육, 교수·학습, 연구, 보건 등의 회원제 서비스 이용에 따른 본인확인, 개인 식별, 불량회원의 부정이용 방지와 비인가 사용방지, 연령확인, 분쟁조정을 위한 기록보존, 불만처리 등 민원처리, 공지사항 전달 등의 목적으로 개인정보를 처리합니다.</p>
        <h4>라. 교내 종사자 채용관련 지원자 관리</h4>
        <p>교직원 등 모든 교내 종사자 및 채용관련 지원자 관리 등의 목적으로 개인정보를 처리합니다.</p>
        <h4>마. 발전기금 기탁자 관리</h4>
        <p>발전기금 기탁자 관리 및 기부금 영수증 발급 등의 목적으로 개인정보를 처리합니다.</p>
        <h4>바. 개인영상정보 관리</h4>
        <p>시설안전 및 화재예방 등을 목적으로 개인정보를 처리합니다.</p>
    </div>
<!--    <p>수집할 개인정보:</p>-->
<!--    <ul>-->
<!--        {% if 'email' in request.form %}-->
<!--            <li>이메일</li>-->
<!--        {% endif %}-->
<!--        {% if 'name' in request.form %}-->
<!--            <li>이름</li>-->
<!--        {% endif %}-->
<!--        {% if 'birthday' in request.form %}-->
<!--            <li>생년월일</li>-->
<!--        {% endif %}-->
<!--        {% if 'optional_info' in request.form %}-->
<!--            <li>선택사항: {{ optional_info }}</li>-->
<!--        {% endif %}-->
<!--    </ul>-->

<!--    <p>본 방침을 시행하는 날: {{ date }}</p>-->
<!--    <p>본 방침의 제정 정보: {{ policy }}</p>-->
</body>
</html>
