<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML 테스트 페이지</title>
    <link rel="stylesheet" href="../static/form.css">
</head>
<body>
<div id="container" class="container">
    <h1 id="form_name">개인정보 처리방침</h1>

<form action='/univResult' method='post' id="form_" class="form_" enctype="multipart/form-data">
        <fieldset style="width:150">
            <legend>제공 기본 정보</legend>
            <h3>정보통신서비스 제공자명
                <input type='text' name='provider' placeholder="학교명을 입력해주세요" required/>
            </h3>
            <h3>본 방침을 시행하는 날
                <input type='date' name='date' required/>
            </h3>

            <h3>본 방침의 제정 정보
                <select name='policy'>
                    <option value="created">본 방침을 처음으로 만듬</option>
                    <option value="modified">기존의 개인정보처리방침이 있음</option>
                </select>
            </h3>
        </fieldset>
        <br>
        <fieldset>
            <legend>수집할 개인정보</legend>

            <!-- 파일 업로드 -->
            <h1>개인정보 처리방침 업로드</h1>
            <input type="file" name="file" required/>
            <br>
        </fieldset>

        <br><br><br>
        <!-- form 제출 버튼 or 초기화 -->
        <div style="text-align: center;">
            <input type="reset" class="reset" style="margin-right: 10px; color: #30d5c8; background-color: white"/>
            <input type="submit" class="submit"/>
        </div>
    </form>
    <script src="../static/form_script.js"></script>
</div>

</body>
</html>
